
<section id="contact_main">

    <div class="contact_inner clearfix">
   
     <div class="container">
   
     <div class="row">
   
      <div class="contact_main_1">
   
       <h1>CONTACT</h1>
   
      </div>
   
     </div>
   
    </div>
   
    </div>
   
   </section>
   
   <section id="contact_inner_main"> 
   
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3635689.793072721!2d78.6421709625!3d27.141236999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1531201517392 " height="600" style="border:0; width:100%;" allowfullscreen=""></iframe>
   
   </section>
   
   <section id="contact">
   
     <div class="container">
   
      <div class="row">
   
       <div class="col-sm-12">
   
        <div class="col-sm-4">
   
         <div class="contact_1">
   
           <h4>ADDRESS:</h4>
   
           <p><i class="fa fa-home"></i>321 Sociosqu In	 Torquent Inceptos 1234</p>
   
         </div>
   
         <div class="contact_2">
   
           <h4>PHONES:</h4>
   
           <p><i class=" fa fa-phone"></i>123-3234-5436</p>
   
           <p><i class="fa fa-fax"></i>123-3214-4356</p>
   
         </div>
   
         <div class="contact_3">
   
           <h4>E-MAIL:</h4>
   
           <p><i class="fa fa-envelope"></i><a href="#">info@gmail.com</a></p>
   
         </div>
   
        </div>
   
        <div class="col-sm-8">
   
         <div class="contact_4">
   
           <h2>CONSECTETUR VESTIBULUM:</h2>
   
           <p>Fusce nec tellus sed augue semper porta Mauris massa..</p>
   
         </div>
   
         <div class="col-sm-12 drop_2 clearfix">
   
          <div class="col-sm-4 drop_2">
   
           <div class="contact_5">
   
           <input type="text" class="form-control" placeholder="Name">
   
           </div>
   
          </div>
   
          <div class="col-sm-4 drop_2">
   
           <div class="contact_5">
   
           <input type="text" class="form-control" placeholder="Email">
   
           </div>
   
          </div>
   
          <div class="col-sm-4 drop_2">
   
           <div class="contact_5">
   
           <input type="text" class="form-control" placeholder="Phone">
   
           </div>
   
          </div>
   
         </div>
   
         <div class="col-sm-12 drop_2">
   
          <div class="contact_6">
   
          <textarea placeholder="Message" class="form-control"></textarea>
   
          </div>
   
          <div class="contact_7">
   
           <a href="#" class="button_1">SEND</a>
   
          </div>
   
         </div>
   
        </div>
   
       </div>
   
      </div>
   
     </div>
   
   </section>
