<h3>Creating Multiple projects in only one angular application</h3>
<p> It is not good idea to create different angular application for different projects.  the best idea is to create multiple projects in one angular application </p>
<p> To achieve this create folder called modules and create module for every project </p>

<h3>What is module in angular </h3>
<p> A module is a group of services,components and other modules </p>

<b>Command for creating a module </b>
<p> ng generate module moduleName (ng g m moduleName)</p>
<p>Now create a component with same module name</p>
<p> ng generate component moduleName</p>

<p> Create routing module with same module name</p>
<p> ng generate module moduleName-routing</p>
<p> Note:- make sure component , routing and module files must be under same folder  </p>

