
	
<section id="center" class="center_shop"> 
    <div class="container">
     <div class="row">
      <div class="center_shop_1 text-center clearfix">
       <div class="col-sm-12">
         <h1 class="mgt">My Account</h1>
         <h5><a href="#">Home</a> / <span class="col_1">My Account</span></h5>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="account"> 
    <div class="container">
     <div class="row">
      <div class="account_1 clearfix">
       <div class="col-sm-6">
        <div class="account_1_l clearfix">
         <h3 class="mgt">Login</h3><br>
         <h5>Email</h5>
         <input class="form-control" placeholder="Email" type="text"><br>
         <h5>Password</h5>
         <input class="form-control" placeholder="Password" type="text">
         <h6><a href="#"><input type="checkbox"> Remember me <span class="pull-right">Lost your password?</span></a> </h6>
         <h5><a class="button" href="#">Log In</a></h5>
        </div>
       </div>
       <div class="col-sm-6">
        <div class="account_1_l clearfix">
         <h3 class="mgt">Register</h3><br>
         <h5>Name</h5>
         <input class="form-control" placeholder="Full Name" type="text"><br>
         <h5>Email</h5>
         <input class="form-control" placeholder="Email" type="text"><br>
         <h5>Password</h5>
         <input class="form-control" placeholder="Password" type="text">
         <p>The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & )</p>
         <h5><a class="button" href="#">Register</a></h5>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="connect" class="clearfix">
    <div class="container">
     <div class="row">
      <div class="col-sm-12 space_all">
       <div class="connect_1 clearfix">
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-truck"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Free Shipping</h4>
          <p>Free shipping world wide</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-headphones"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Support 24/7</h4>
          <p>Contact us 24 hours a day</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-credit-card"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Secure Payments</h4>
          <p>100% payment protection</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m border_none">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-shopping-cart"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Easy Return</h4>
          <p>Simple returns policy</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>