<h2> What is data </h2>
<p> Anything formed using small a to z, capital A to Z, numbers 0 to 9, empty character(space) and all special symbols, is called "data"</p>

<h2>Data Types</h2>
<p> Every data is having different types. but computer can understand only few data types. Below are the different types of the Data </p>
<ol>
    <li><b>string (or) character</b> (small a to z, capital A to Z, empty character(space), special symbols  )</li>
    <li><b>numbers</b> (numbers 0 to 9)</li>
    <li><b>Boolean</b>  (0(false) (or) 1(true))</li>

</ol>


<h2>Variable</h2>
<p> To store any data for future purpose variables are used </p>
<p><b>syntax</b></p>
<p> variableName:dataType=data</p>
<p> In typescript same javascript syntax is used. So javascript code can be written in typescript also</p>
<p><b>string Example</b></p>
<p> userName:string="Rajesh Dudekula"</p>
<p> Here userName is the variable. "Rajesh Dudekula" is the data. The data is having  (small a to z, capital A to Z, empty character(space), special symbols  ). So userName variable is string data type. that is why string is wriiten after the colon </p>

<p>After the colon specifying  the data type is not mandatory. if you want we can specify </p>

<h2>Displaying variables in html</h2>
<p>Generally we write the variables in ts file. but we have to display the data in the variable on html page. So to achieve this angular provided a feature called interpolation. interpolation is written as {{'variableName'}} </p>
<p>example-1: {{address}}</p>
<p>example-2: {{roleNumber}}</p>
<p>example-3: {{is_principal}}<p>
<p>example-4: {{are_students}}</p>
<p>example-5: {{itemPrice}}</p>