<div class="main_about clearfix">
  <section id="center" class="center_blog">
    <div class="container-xl">
 <div class="row center_o1">
  <div class="col-md-12">
     <h2 class="text-white">About Us</h2>
   <h6 class="mb-0 mt-3 fw-normal col_red"><a class="text-light" href="#">Home</a> <span class="mx-2 text-muted">/</span> About Us</h6>
  </div>
 </div>
</div>
 </section>
</div>

<section id="feature" class="p_3">
  <div class="container-xl">
   <div class="feature_1 row">
     <div class="col-md-6">
    <div class="feature_1l clearfix">
       <h5 class="col_red">SOME FEATURES AND </h5>
     <h1>THE BENEFITS OF USING BACKHOE TODAY</h1>
     <p>We are committed to providing our customers with super exceptional service while offering our employees the best training and a working environment in which they can excel best of all place for more than a half century.</p>
     <p>This company focus has been in place for more than a half century. We are committed to providing our customers with exceptional service while offering our employees the best training best of all and a working environment.</p>
     <div class="feature_1li1 row">
      <div class="col-md-6">
       <div class="feature_1li1l clearfix">
        <h4>Building Companies</h4>
        <p>Banks &amp; Financial Institutions face a challenging & dynamic environment with…</p>
       </div>
      </div>
      <div class="col-md-6">
       <div class="feature_1li1l clearfix">
        <h4>Other Companies</h4>
        <p>Banks &amp; Financial Institutions face a challenging & dynamic environment with…</p>
       </div>
      </div>
     </div>
     <p class="mb-0">We are committed to providing our customers with super exceptional service while offering our employees the best training and a working environment in which they can excel best of all place for more than a half century.</p>
    </div>
   </div>
   <div class="col-md-6">
     <div class="feature_1r clearfix">
       <div class="grid clearfix">
       <figure class="effect-jazz mb-0">
       <a href="#"><img src="assets/img/36.jpg" class="w-100" alt="img25"></a>
       </figure>
     </div>
    </div>
   </div>
    </div>
  </div>
 </section>
 
 <section id="spec" class="p_3 bg-light">
  <div class="container-xl">
   <div class="row serve_1 mb-3 text-center">
     <div class="col-md-12">
     <h2 class="col_red">Why People Believe In Us?</h2>
     <p>The manufacture of industrial equipment requires a vast knowledge base of<br>
 processes and understanding of fundamental concepts.</p>
   </div>
   </div>
   <div class="spec_1 row">
      <div class="col-md-3 col-sm-6">
     <div class="spec_1i text-center clearfix p-4">
      <span class="col_red font_60 d-inline-block lh-1 mb-3"><i class="fa fa-shield"></i></span>
      <h4>Data Encripted</h4>
      <h5 class="mb-0 mt-3"><a class="button_2" href="#">Learn More</a></h5>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="spec_1i text-center clearfix p-4">
      <span class="col_red font_60 d-inline-block lh-1 mb-3"><i class="fa fa-user"></i></span>
      <h4>Clients Helped</h4>
      <h5 class="mb-0 mt-3"><a class="button_1" href="#">Learn More</a></h5>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="spec_1i text-center clearfix p-4">
      <span class="col_red font_60 d-inline-block lh-1 mb-3"><i class="fa fa-rupee"></i></span>
      <h4>Brilliant value</h4>
      <h5 class="mb-0 mt-3"><a class="button_2" href="#">Learn More</a></h5>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="spec_1i text-center clearfix p-4">
      <span class="col_red font_60 d-inline-block lh-1 mb-3"><i class="fa fa-support"></i></span>
      <h4>Great Support</h4>
      <h5 class="mb-0 mt-3"><a class="button_1" href="#">Learn More</a></h5>
     </div>
    </div>
    </div>
  </div>
 </section>
 
 <section id="proj" class="pt-5 pb-5 bg_dark">
  <div class="container-xl">
   <div class="proj row">
    <div class="col-md-3 col-sm-6">
     <div class="proj_i row">
      <div class="col-md-2">
       <div class="proj_il clearfix">
      <span class="fs-3 col_red"><i class="fa fa-graduation-cap"></i></span>
     </div>
      </div>
      <div class="col-md-10">
       <div class="proj_ir clearfix">
      <h1 class="text-white">550</h1>
      <h5 class="text-light mb-0">+ PROJECT DONE</h5>
     </div>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="proj_i row">
      <div class="col-md-2">
       <div class="proj_il clearfix">
      <span class="fs-3 col_red"><i class="fa fa-truck"></i></span>
     </div>
      </div>
      <div class="col-md-10">
       <div class="proj_ir clearfix">
      <h1 class="text-white">180</h1>
      <h5 class="text-light mb-0">+ TONS OF GOODS</h5>
     </div>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="proj_i row">
      <div class="col-md-2">
       <div class="proj_il clearfix">
      <span class="fs-3 col_red"><i class="fa fa-user"></i></span>
     </div>
      </div>
      <div class="col-md-10">
       <div class="proj_ir clearfix">
      <h1 class="text-white">150</h1>
      <h5 class="text-light mb-0">+ TOTAL EMPLOYEE</h5>
     </div>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="proj_i row">
      <div class="col-md-2">
       <div class="proj_il clearfix">
      <span class="fs-3 col_red"><i class="fa fa-trophy"></i></span>
     </div>
      </div>
      <div class="col-md-10">
       <div class="proj_ir clearfix">
      <h1 class="text-white">70</h1>
      <h5 class="text-light mb-0">+ WIN AWARDS</h5>
     </div>
      </div>
     </div>
    </div>
   </div>
  </div>	
 </section>
 
 <section id="contact_h" class="p_3 bg-light">
   <div class="container-xl">
    <div class="row contact_h_1">
     <div class="col-md-6">
       <div class="contact_h_1r bg-white">
        <h3>Feel Free to Contact Us</h3>
        <p class="mb-3">Distinctively exploit optimal alignments for intuitive coordinate business applications technologies</p>
        <input class="form-control mt-3" placeholder="Name" type="text">
        <input class="form-control mt-3" placeholder="Phone" type="text">
        <input class="form-control mt-3" placeholder="Email" type="text">
       <select name="categories" class="form-select mt-3" required="">
       <option value="">Choose Service Type</option>
       <option>Computer</option>
       <option>Business</option>
       <option>Chemistry</option>
       <option>Physics</option>
       <option>Photoshop</option>
       <option>Management</option>
       </select>
       <h6 class="mb-0 mt-4"><a class="button_1 d-block text-center" href="#">REQUEST FOR SUBMIT</a></h6>
       </div>
     </div>
     <div class="col-md-6">
       <div class="contact_h_1l">
         <div class="grid clearfix">
           <figure class="effect-jazz mb-0">
           <a href="#"><img src="assets/img/25.jpg" class="w-100" alt="abc"></a>
           </figure>
         </div>
       </div>
     </div>
    </div>
   </div>
 </section>
 
