<section id="about_main">

    <div class="about_inner clearfix">
   
     <div class="container">
   
     <div class="row">
   
      <div class="about_main_1">
   
       <h1>ABOUT US</h1>
   
      </div>
   
     </div>
   
    </div>
   
    </div>
   
   </section>
   
   <section id="latest">
   
    <div class="container">
   
     <div class="row">
   
      <div class="latest_1 clearfix">
   
       <div class="col-sm-8">
   
        <div class="about_1">
   
         <h2>About Me</h2>
   
         <p><span class="well_2">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
   
           Sit amet cursus sit amet dictum sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada.
   
           Eu sem integer vitae justo eget magna fermentum iaculis eu.</p>
   
         <p>Nunc id cursus metus aliquam eleifend mi in. Urna porttitor rhoncus dolor purus non enim. In nulla posuere sollicitudin aliquam ultrices.</p>
   
        </div>
   
        <div class="about_2 clearfix">
   
         <div class="col-sm-6 space_all">
   
          <div class="about_3">
   
           <a href="#"><img src="assets/img/57.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-6 space_all">
   
          <div class="about_3">
   
           <a href="#"><img src="assets/img/58.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="about_4">
   
         <p>Metus vulputate eu scelerisque felis imperdiet proin fermentum. Tempor orci eu lobortis elementum nibh tellus molestie nunc. 
   
         Tristique sollicitudin nibh sit amet. Ut porttitor leo a diam sollicitudin. Dolor morbi non arcu risus quis varius.
   
         Et malesuada fames ac turpis egestas maecenas pharetra convallis. Cursus sit amet dictum sit. Purus sit amet luctus venenatis lectus magna.</p>
   
         <p>Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. 
   
         Nulla aliquet porttitor lacus luctus accumsan tortor. Morbi non arcu risus quis varius quam quisque id. 
   
         Interdum consectetur libero id faucibus nisl tincidunt. Scelerisque purus semper eget duis. </p>
   
        </div>
   
        <div class="about_2 clearfix">
   
         <div class="col-sm-4 space_all">
   
          <div class="about_3">
   
           <a href="#"><img src="assets/img/59.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="about_3">
   
           <a href="#"><img src="assets/img/60.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="about_3">
   
           <a href="#"><img src="assets/img/61.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="about_4">
   
         <p>Metus vulputate eu scelerisque felis imperdiet proin fermentum. Tempor orci eu lobortis elementum nibh tellus molestie nunc. 
   
         Tristique sollicitudin nibh sit amet. Ut porttitor leo a diam sollicitudin. Dolor morbi non arcu risus quis varius.
   
         Et malesuada fames ac turpis egestas maecenas pharetra convallis. Cursus sit amet dictum sit. Purus sit amet luctus venenatis lectus magna.</p>
   
         <p>Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. 
   
         Nulla aliquet porttitor lacus luctus accumsan tortor. Morbi non arcu risus quis varius quam quisque id. 
   
         Interdum consectetur libero id faucibus nisl tincidunt. Scelerisque purus semper eget duis. </p>
   
         <p>Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. 
   
         Nulla aliquet porttitor lacus luctus accumsan tortor. Morbi non arcu risus quis varius quam quisque id. 
   
         Interdum consectetur libero id faucibus nisl tincidunt. Scelerisque purus semper eget duis. </p>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="latest_6">
   
         <a href="#"><img src="assets/img/33.jpg" alt="abc" class="img_responsive"></a>
   
         <h3>Hi, I am Alex!</h3>	
   
         <p>Food stylist & photographer. Loves nature and healthy food, and good coffee. Don't hesitate to come for say a small "hello!"</p>
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
   
              <li><a href="#"><i class="fa fa-youTube"></i></a></li>
   
         </ul>	 
   
         <a href="#" class="button_1">Read More</a>  
   
        </div>
   
        <div class="latest_7">
   
         <a href="#"><img src="assets/img/34.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="latest_8">
   
         <h2>Cook Book</h2>
   
         <h4>vulputate. Phasellus</h4>
   
        </div>
   
        <div class="latest_9">
   
         <h4>VEGAN RECIPES</h4>
   
        </div>
   
        <div class="latest_10 clearfix">
   
         <div class="col-sm-4">
   
          <div class="latest_11">
   
           <a href="#"><img src="assets/img/35.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-8">
   
          <div class="latest_12">
   
           <h4><a href="#">Pickled Summer Vegetables</a></h4>
   
           <p>March 19, 2020</p>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="latest_10 clearfix">
   
         <div class="col-sm-4">
   
          <div class="latest_11">
   
           <a href="#"><img src="assets/img/37.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-8">
   
          <div class="latest_12">
   
           <h4><a href="#">Perfect avocado for breakfast</a></h4>
   
           <p>March 19, 2020</p>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="latest_10 clearfix">
   
         <div class="col-sm-4">
   
          <div class="latest_11">
   
           <a href="#"><img src="assets/img/38.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-8">
   
          <div class="latest_12">
   
           <h4><a href="#">Flat Irons Skillet Potatoes</a></h4>
   
           <p>March 19, 2020</p>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="latest_13">
   
         <h3>Never Miss A Recipe!</h3>
   
         <p>Join thousands of TinySalt subscribers and get our best recipes delivered each week!</p>
   
         <input type="text" class="form-control" placeholder="Your Email Address">
   
         <a href="#" class="button_1">Subscribe</a>
   
        </div>
   
       </div>
   
      </div>
   
     </div>
   
    </div> 
   
   </section>
   
   <section id="perfect">
   
    <div class="container">
   
     <div class="row">
   
      <div class="perfect_1">
   
       <h2>Perfect for This Season</h2>
   
      </div>
   
      <div class="perfect_2 clearfix">
   
       <div class="col-sm-4">
   
        <div class="perfect_3">
   
         <a href="#"><img src="assets/img/44.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="perfect_4">
   
         <h3>8 Easy Instant Pot Recipes</h3>
   
         <ul>
   
              <li>Appetizer</li>
   
              <li>/</li>
   
              <li>Soup</li>
   
              <li><i class="fa fa-comments"></i>2</li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="perfect_3">
   
         <a href="#"><img src="assets/img/45.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="perfect_4">
   
         <h3>8 Easy Instant Pot Recipes</h3>
   
         <ul>
   
              <li>Appetizer</li>
   
              <li>/</li>
   
              <li>Soup</li>
   
              <li><i class="fa fa-comments"></i>2</li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="perfect_3">
   
         <a href="#"><img src="assets/img/46.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="perfect_4">
   
         <h3>8 Easy Instant Pot Recipes</h3>
   
         <ul>
   
              <li>Appetizer</li>
   
              <li>/</li>
   
              <li>Soup</li>
   
              <li><i class="fa fa-comments"></i>2</li>
   
         </ul>
   
        </div>
   
       </div>
   
      </div>
   
      <div class="perfect_2 clearfix">
   
       <div class="col-sm-4">
   
        <div class="perfect_3">
   
         <a href="#"><img src="assets/img/47.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="perfect_4">
   
         <h3>8 Easy Instant Pot Recipes</h3>
   
         <ul>
   
              <li>Appetizer</li>
   
              <li>/</li>
   
              <li>Soup</li>
   
              <li><i class="fa fa-comments"></i>2</li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="perfect_3">
   
         <a href="#"><img src="assets/img/48.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="perfect_4">
   
         <h3>8 Easy Instant Pot Recipes</h3>
   
         <ul>
   
              <li>Appetizer</li>
   
              <li>/</li>
   
              <li>Soup</li>
   
              <li><i class="fa fa-comments"></i>2</li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="perfect_3">
   
         <a href="#"><img src="assets/img/49.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="perfect_4">
   
         <h3>8 Easy Instant Pot Recipes</h3>
   
         <ul>
   
              <li>Appetizer</li>
   
              <li>/</li>
   
              <li>Soup</li>
   
              <li><i class="fa fa-comments"></i>2</li>
   
         </ul>
   
        </div>
   
       </div>
   
      </div>
   
     </div>
   
    </div>
   
   </section>
