<h3>Data sharing between multiple components </h3>
<p> This can be done using  behaviour subject with the help of angular services  </p>
<p> First Create a service using below command </p>
<p> ng generate  service serviceName (ng g s serviceName)</p>
<p> Now create object for BehaviorSubject class  </p>
<pre> {{code1}}</pre>
<p> create a variable you want to share between multiple components using subject </p>
<p>  applicationData = this.behaviorSubjectObj.asObservable();</p>
<p> asObservable() will observe every change and store updated value in applicationData variable </p>
<p> To change  the value , create a function with parameter and store the parameter in the subject like below</p>
<pre> {{code2}}</pre>
<p> The next() will update the default value in the subject </p>
<p> Now to use the variable applicationData in any component follow the below steps </p>
<b> step-1 </b>
<p> Go to the component you want use and import the service file </p>
<p> {{code3}}</p>
<b> step-2 </b>
<p> Now create object for the serviceClassName in component constructor </p>
<pre>{{code4}}</pre>
<p> Follow the same process in any component you want use applicationData variable </p>