/back-end/swiggy-api/.phpunit.cache
/back-end/swiggy-api/node_modules
/back-end/swiggy-api/public/build
/back-end/swiggy-api/public/hot
/back-end/swiggy-api/public/storage
/back-end/swiggy-api/storage/*.key
/back-end/swiggy-api/vendor
/back-end/swiggy-api/.env
/back-end/swiggy-api/.env.backup
/back-end/swiggy-api/.env.production
/back-end/swiggy-api/.phpunit.result.cache
/back-end/swiggy-api/Homestead.json
/back-end/swiggy-api/Homestead.yaml
/back-end/swiggy-api/auth.json
/back-end/swiggy-api/npm-debug.log
/back-end/swiggy-api/yarn-error.log
/back-end/swiggy-api/.fleet
/back-end/swiggy-api/.idea
/back-end/swiggy-api/.vscode
