<section id="team_main">

    <div class="team_inner clearfix">
   
     <div class="container">
   
     <div class="row">
   
      <div class="team_main_1">
   
       <h1>TEAM</h1>
   
      </div>
   
     </div>
   
    </div>
   
    </div>
   
   </section>
   
   <section id="team">
   
    <div class="container">
   
     <div class="row">
   
      <div class="col-sm-12 space_all">
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/106.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Semper Porta</a></h3>
   
         <p class="text-center">Inceptos</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/107.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Conubia Nostra</a></h3>
   
         <p class="text-center">Torquent</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/108.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Mauris Massa</a></h3>
   
         <p class="text-center">Praesent</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/109.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Nulla Quis</a></h3>
   
         <p class="text-center">Lacinia</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
      </div>
   
      <div class="col-sm-12 space_all">
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/110.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Semper Porta</a></h3>
   
         <p class="text-center">Inceptos</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/111.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Conubia Nostra</a></h3>
   
         <p class="text-center">Torquent</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/112.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Mauris Massa</a></h3>
   
         <p class="text-center">Praesent</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
       <div class="col-sm-3">
   
        <div class="team_1">
   
         <div class="ih-item square effect7"><a href="#">
   
         <div class="img"><img src="assets/img/113.jpg" alt="img"></div>
   
         <div class="info">
   
           <h3>Consectetur</h3>
   
           <p>Sed cursus ante dapibus diam</p>
         </div></a></div>
   
        </div>
   
        <div class="team_2">
   
         <h3 class="text-center"><a href="#">Nulla Quis</a></h3>
   
         <p class="text-center">Lacinia</p>
   
        </div>
   
        <div class="team_3">
   
         <ul>
   
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
   
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
   
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
   
         </ul>
   
        </div>
   
       </div>
   
      </div>
   
     </div>
   
    </div>
   
   </section>