<div class="main_team clearfix">
    <section id="center" class="center_blog">
      <div class="container-xl">
   <div class="row center_o1">
    <div class="col-md-12">
       <h2 class="text-white">Team</h2>
       <h6 class="mb-0 mt-3 fw-normal col_red"><a class="text-light" href="#">Home</a> <span class="mx-2 text-muted">/</span> Team</h6>
    </div>
   </div>
  </div>
   </section>
  </div>

<section id="team" class="p_3">
    <div class="container-xl">
       <div class="events_1i row">
           <div class="col-md-4">
            <div class="events_1i1 clearfix position-relative">
             <div class="events_1i1i clearfix">
               <img src="assets/img/38.jpg" alt="abc" class="w-100">
             </div>
             <div class="events_1i1i1 clearfix position-absolute bottom-0 text-center w-100">
               <ul class="d-inline-block mb-0">
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                <li class="d-inline-block"><a href="#"><i class="fa fa-youtube-play text-white"></i></a></li>
               </ul>
             </div>
            </div>
            <div class="events_1i2 clearfix p-3 bg-light text-center">
              <h5><a href="#">Eget Nulla</a></h5>
              <h6 class="mb-0 text-muted">Drama, Action</h6>
            </div>
           </div>
           <div class="col-md-4">
            <div class="events_1i1 clearfix position-relative">
             <div class="events_1i1i clearfix">
               <img src="assets/img/39.jpg" alt="abc" class="w-100">
             </div>
             <div class="events_1i1i1 clearfix position-absolute bottom-0 text-center w-100">
               <ul class="d-inline-block mb-0">
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                <li class="d-inline-block"><a href="#"><i class="fa fa-youtube-play text-white"></i></a></li>
               </ul>
             </div>
            </div>
            <div class="events_1i2 clearfix p-3 bg-light text-center">
              <h5><a href="#">Diam Ipsum</a></h5>
              <h6 class="mb-0 text-muted">Drama, Action</h6>
            </div>
           </div>
           <div class="col-md-4">
            <div class="events_1i1 clearfix position-relative">
             <div class="events_1i1i clearfix">
               <img src="assets/img/40.jpg" alt="abc" class="w-100">
             </div>
             <div class="events_1i1i1 clearfix position-absolute bottom-0 text-center w-100">
               <ul class="d-inline-block mb-0">
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                <li class="d-inline-block"><a href="#"><i class="fa fa-youtube-play text-white"></i></a></li>
               </ul>
             </div>
            </div>
            <div class="events_1i2 clearfix p-3 bg-light text-center">
              <h5><a href="#">Semp Porta</a></h5>
              <h6 class="mb-0 text-muted">Drama, Action</h6>
            </div>
           </div>
           
          </div> 
       <div class="events_1i row mt-4">
           <div class="col-md-4">
            <div class="events_1i1 clearfix position-relative">
             <div class="events_1i1i clearfix">
               <img src="assets/img/41.jpg" alt="abc" class="w-100">
             </div>
             <div class="events_1i1i1 clearfix position-absolute bottom-0 text-center w-100">
               <ul class="d-inline-block mb-0">
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                <li class="d-inline-block"><a href="#"><i class="fa fa-youtube-play text-white"></i></a></li>
               </ul>
             </div>
            </div>
            <div class="events_1i2 clearfix p-3 bg-light text-center">
              <h5><a href="#">Eget Nulla</a></h5>
              <h6 class="mb-0 text-muted">Drama, Action</h6>
            </div>
           </div>
           <div class="col-md-4">
            <div class="events_1i1 clearfix position-relative">
             <div class="events_1i1i clearfix">
               <img src="assets/img/42.jpg" alt="abc" class="w-100">
             </div>
             <div class="events_1i1i1 clearfix position-absolute bottom-0 text-center w-100">
               <ul class="d-inline-block mb-0">
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                <li class="d-inline-block"><a href="#"><i class="fa fa-youtube-play text-white"></i></a></li>
               </ul>
             </div>
            </div>
            <div class="events_1i2 clearfix p-3 bg-light text-center">
              <h5><a href="#">Diam Ipsum</a></h5>
              <h6 class="mb-0 text-muted">Drama, Action</h6>
            </div>
           </div>
           <div class="col-md-4">
            <div class="events_1i1 clearfix position-relative">
             <div class="events_1i1i clearfix">
               <img src="assets/img/43.jpg" alt="abc" class="w-100">
             </div>
             <div class="events_1i1i1 clearfix position-absolute bottom-0 text-center w-100">
               <ul class="d-inline-block mb-0">
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li class="d-inline-block me-3"><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                <li class="d-inline-block"><a href="#"><i class="fa fa-youtube-play text-white"></i></a></li>
               </ul>
             </div>
            </div>
            <div class="events_1i2 clearfix p-3 bg-light text-center">
              <h5><a href="#">Semp Porta</a></h5>
              <h6 class="mb-0 text-muted">Drama, Action</h6>
            </div>
           </div>
          </div>
     </div>
   </section>
   
   <section id="contact_h" class="p_3 bg-light">
       <div class="container-xl">
        <div class="row contact_h_1">
           <div class="col-md-6">
             <div class="contact_h_1r bg-white">
              <h3>Feel Free to Contact Us</h3>
              <p class="mb-3">Distinctively exploit optimal alignments for intuitive coordinate business applications technologies</p>
              <input class="form-control mt-3" placeholder="Name" type="text">
              <input class="form-control mt-3" placeholder="Phone" type="text">
              <input class="form-control mt-3" placeholder="Email" type="text">
               <select name="categories" class="form-select mt-3" required="">
               <option value="">Choose Service Type</option>
               <option>Computer</option>
               <option>Business</option>
               <option>Chemistry</option>
               <option>Physics</option>
               <option>Photoshop</option>
               <option>Management</option>
               </select>
               <h6 class="mb-0 mt-4"><a class="button_1 d-block text-center" href="#">REQUEST FOR SUBMIT</a></h6>
             </div>
           </div>
           <div class="col-md-6">
             <div class="contact_h_1l">
               <div class="grid clearfix">
                     <figure class="effect-jazz mb-0">
                       <a href="#"><img src="assets/img/25.jpg" class="w-100" alt="abc"></a>
                     </figure>
                 </div>
             </div>
           </div>
        </div>
       </div>
   </section>