<section id="footer">
    <div class="container">
     <div class="row">
      <div class="footer_1 clearfix">
       <div class="col-sm-2">
        <div class="footer_1_inner clearfix">
         <h4>HELP & SUPPORT</h4>
         <ul>
          <li><a href="#">Brand Help</a></li>
          <li><a href="#">Computer  Services</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="#">Social Support</a></li>
          <li><a href="#">Manual Help</a></li>
          <li><a href="#">Product Booking</a></li>
         </ul>
        </div>
       </div>
       <div class="col-sm-2">
        <div class="footer_1_inner clearfix">
         <h4>INQUIRY</h4>
         <ul>
          <li><a href="#"> Contact Link</a></li>
          <li><a href="#">Shopping</a></li>
          <li><a href="#"> Exchange & Return</a></li>
          <li><a href="#"> Information</a></li>
          <li><a href="#"> Report Us</a></li>
          <li><a href="#">About Us</a></li>
         </ul>
        </div>
       </div>
       <div class="col-sm-4">
        <div class="footer_1_inner clearfix">
         <h4>CONTACT US</h4>
         <ul class="footer_dropdown">
          <li>40, 27th Street, Elementum Imperdiet, DB 05231, United Kingdom.</li>
          <li> (+XY) XXX-YYY-ZZZ</li>
          <li><a href="#"> info@gmail.com</a></li>
         </ul>
         <ul class="social-network social-circle">
                           <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                           <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                           <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                       </ul>
        </div>
       </div>
       <div class="col-sm-4">
        <div class="footer_1_inner clearfix">
         <h4>NEWSLETTER</h4>
         <p>Curabitursodales ligula in libero Sed dignissim lacinia nunc conubia nostra, per inceptos himenaeos !</p>
          <div id="custom-search-input">
             <div class="input-group col-sm-12">
                                   <input type="text" class="  search-query form-control" placeholder="Enter Email">
                                   <span class="input-group-btn">
                                       <button class="btn btn-danger" type="button">
                                           <span>SUBMIT</span>
                                       </button>
                                   </span>
                               </div>
         </div>
        </div>
       </div>
      </div>
      <div class="footer_2 text-center clearfix">
       <ul>
        <li><a href="#">KNOW US</a></li>
        <li><a href="#">USER SERVICE</a></li>
        <li><a href="#">OUR PRIVACY</a></li>
        <li><a href="#">SITE VIEW</a></li>
        <li><a href="#">BOOKING AND RETURNING</a></li>
        <li class="border_none_1"><a href="#">CONNECT WITH US</a></li>
       </ul>
       <p>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
       <p> © 2013 Your Website Name. All Rights Reserved | Design by</p>
      </div>
     </div>
    </div>
   </section>
   <script type="text/javascript">
    $(document).ready(function(){
    
    /*****Fixed Menu******/
    var secondaryNav = $('.cd-secondary-nav'),
       secondaryNavTopPosition = secondaryNav.offset().top;
        $(window).on('scroll', function(){
            if($(window).scrollTop() > secondaryNavTopPosition ) {
                secondaryNav.addClass('is-fixed');	
            } else {
                secondaryNav.removeClass('is-fixed');
            }
        });	
        
    });
    </script>