<section id="footer">
    <div class="container">
     <div class="row">
      <div class="footer_1 clearfix">
       <div class="col-sm-3">
        <div class="footer_1i clearfix">
         <a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i> Med <span>Shop</span> </a>
         <h5><span class="bold">Hotline:</span> <a href="#">01234</a></h5>
         <h5><span class="bold">Phone:</span> <a href="#">(+123) 456-7898</a></h5>
         <h5><span class="bold">Email:</span> <a href="#">info@gmail.com</a></h5>
         <h5><span class="bold">Address:</span> <a href="#">2190 Clue, The Xronz, OZ 0038, USA</a></h5>
         <ul class="social-network social-circle">
                           <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                           <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                           <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                       </ul>
        </div>
       </div>
       <div class="col-sm-3">
        <div class="footer_1i1 clearfix">
         <h4 class="mgt">Information</h4>
         <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Orders and Returns</a></li>
         </ul>
        </div>
       </div>
       <div class="col-sm-3">
        <div class="footer_1i1 clearfix">
         <h4 class="mgt">Customer Care</h4>
         <ul>
          <li><a href="#">Help & FAQs</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Order History</a></li>
          <li><a href="#">Wishlist</a></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Newsletter</a></li>
         </ul>
        </div>
       </div>
       <div class="col-sm-3">
        <div class="footer_1i1 clearfix">
         <h4 class="mgt">Newsletter</h4>
         <p>Sign up for our mailing list to get the latest updates & offers.</p>
         <input class="form-control" placeholder="Email address" type="text">
         <h5><a class="button" href="#"> Subscribe Now</a></h5>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="footer_bottom">
    <div class="container">
     <div class="row">
      <div class="footer_2 text-center clearfix">
       <div class="col-sm-12">
        <!-- <p class="mgt">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="http://www.templateonweb.com">TemplateOnWeb</a></p> -->
       </div>
      </div>
     </div>
    </div>
   </section>
