
<section id="gallery_main">

    <div class="gallery_inner clearfix">
   
     <div class="container">
   
     <div class="row">
   
      <div class="gallery_main_1">
   
       <h1>GALLERY</h1>
   
      </div>
   
     </div>
   
    </div>
   
    </div>
   
   </section>
   
   <section id="gallery">
   
    <div class="container">
   
     <div class="row">
   
      <div class="gallery_1 clearfix">
   
       <div class="col-sm-6 space_all">
   
        <div class="gallery_2">
   
         <a href="#"><img src="assets/img/95.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
       </div>
   
       <div class="col-sm-6 space_all">
   
        <div class="gallery_3 clearfix">
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/97.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/98.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="gallery_3 clearfix">
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/99.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/100.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
        </div>
   
       </div>
   
      </div>
   
      <div class="gallery_1 clearfix">    
   
       <div class="col-sm-6 space_all">
   
        <div class="gallery_3 clearfix">
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/104.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/101.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="gallery_3 clearfix">
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/102.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
         <div class="col-sm-6 space_all">
   
          <div class="gallery_4">
   
           <a href="#"><img src="assets/img/103.jpg" alt="abc" class="img_responsive"></a>
   
          </div>
   
         </div>
   
        </div>
   
       </div>
   
       <div class="col-sm-6 space_all">
   
        <div class="gallery_2">
   
         <a href="#"><img src="assets/img/96.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
       </div>
   
      </div>
   
     </div>
   
    </div>
   
   </section>
