<div class="row">
    <div class="w-50">
        <b> part-1 </b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div class="w-50">
        <b>part-2</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div>
        <b>part-3</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div>
        <b>part-4</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div  >
        <b>part-5</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div >
        <b>part-6</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div >
        <b>part-7</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
</div>
<div class="row">
    <div class="w-50">
        <b> part-1 </b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div class="w-50">
        <b>part-2</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div>
        <b>part-3</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div>
        <b>part-4</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div  >
        <b>part-5</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div >
        <b>part-6</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
    <div >
        <b>part-7</b>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
    </div>
</div>