

<div class="row">
    <div class="w-50">
        <h3>i.From parent to child</h3>
        <b>parent.component.html</b>
        <pre>{{code1}}</pre>

        <b>parent.component.ts-file</b>
        <pre>userName="raghu";</pre>


        <b>In child.component.ts-file</b>
        <pre>@input() employeeName="rama";</pre>

        <b>Send data from parent to child</b>
        <pre>{{code2}}</pre>
        =========================================
    </div>
    <div class="w-50">   
        <h3>ii.From child to parent</h3>
        <b>parent.component.html</b>
        <pre>{{code1}}</pre>

        <b>parent.component.ts-file</b>
        <pre>userName="raghu";</pre>
        <pre>{{code3}}</pre>
        <b>child.component.ts</b>
        <pre>@output() myEvent:EventEmiter = new EventEmiter();</pre>
        <pre>myEvent.emit(variable (or) data)</pre>

        <!-- 
        <b>In child.component.ts-file</b>
        <pre>@input() employeeName="rama";</pre> -->

        <b>Send data from child to parent</b>
        <pre>{{code4}}</pre>
    </div>
</div>