.keep-right
{
    flex: 1 1 auto;
}
.Size
{
    font-size: 0.8rem;
}
.side-menu
{
    // background-color:#fff;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0rem;
}
.mouse-pointer
{
    cursor: pointer;
}