<section id="top">
    <div class="container">
      <div class="row">
       <div class="top_1 clearfix">
        <div class="col-sm-7">
         <div class="top_1l clearfix">
          <ul class="mgt">
           <li><a href="#"><i class="fa fa-phone col_1"></i> (+123) 456-7898</a></li>
            <li><a href="#"><i class="fa fa-map-marker col_1"></i> 1370 Clvd, The Bronx, OZ 2169, NZ</a></li>
          </ul>
         </div>
        </div>
        <div class="col-sm-5">
         <div class="top_1r clearfix">
           <ul class="navbar-right mgt">
                      <li class="dropdown">
                         <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown">USD <b class="caret"></b></a>
                         <ul class="dropdown-menu drop_m">
                            <li><a href="#">USD</a></li>
                            <li><a href="#">INR</a></li>
                            <li><a href="#">GBP</a></li>
                           </ul>
                      </li>
                      <li class="dropdown">
                         <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown"><i class="fa fa-flag col_1"></i> English <b class="caret"></b></a>
                         <ul class="dropdown-menu drop_m">
                            <li><a href="#">French</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                           </ul>
                      </li>
                      <li><a class="m_tag" routerLink="account">My Account</a></li>
                </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    
    <section id="header" class="clearfix">
        <nav class="navbar nav_t">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="fa fa-heartbeat"></i> Med <span>Shop</span> </a>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    <li><a class="tag_m active_tab" routerLink="">Home</a></li>
                    <li><a class="tag_m" routerLink="about">About</a></li>
                    <li><a class="tag_m" routerLink="product">Product</a></li>
                    <li><a class="tag_m" routerLink="detail">Detail</a></li>
                    <li class="dropdown">
                          <a class="tag_m" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
                          <ul class="dropdown-menu drop_1" role="menu">
                            <li><a routerLink="blog">Blog</a></li>
                            <li><a class="border_none" routerLink="blog-detail">Blog Detail</a></li>
                          </ul>
                        </li>
                    <li><a class="tag_m" routerLink="contact">Contact</a></li>
                    <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle tag_m" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
                    
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Glyphicons</li>
                                <li><a href="#">Available glyphs</a></li>
                                <li class="disabled"><a href="#">How to use</a></li>
                                <li><a href="#">Examples</a></li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Aligninment options</a></li>
                                <li><a href="#">Headers</a></li>
                                <li><a href="#">Disabled menu items</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Button groups</li>
                                <li><a href="#">Basic example</a></li>
                                <li><a href="#">Button toolbar</a></li>
                                <li><a href="#">Sizing</a></li>
                                <li><a href="#">Nesting</a></li>
                                <li><a href="#">Vertical variation</a></li>
                                <li><a href="#">Single button dropdowns</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Button groups</li>
                                <li><a href="#">Basic example</a></li>
                                <li><a href="#">Button toolbar</a></li>
                                <li><a href="#">Sizing</a></li>
                                <li><a href="#">Nesting</a></li>
                                <li><a href="#">Vertical variation</a></li>
                                <li><a href="#">Single button dropdowns</a></li>
                            </ul>
                        </li>
                        <li class="col-sm-3">
                            <ul>
                                <li class="dropdown-header">Button groups</li>
                                <li><a href="#">Basic example</a></li>
                                <li><a href="#">Button toolbar</a></li>
                                <li><a href="#">Sizing</a></li>
                                <li><a href="#">Nesting</a></li>
                                <li><a href="#">Vertical variation</a></li>
                                <li><a href="#">Single button dropdowns</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </li>
                    
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <li><a class="tag_m1" href="#"><i class="fa fa-heart-o"></i></a></li>
                    <li><a class="tag_m1" href="#"><i class="fa fa-shopping-bag"></i></a></li>
                    <li class="dropdown"><a class="tag_m1" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
                                                <ul class="dropdown-menu drop_2" style="min-width: 300px;">
                                                    <li>
                                                        <div class="row_1">
                                                            <div class="col-sm-12">
                                                                <form class="navbar-form navbar-left" role="search">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" placeholder="Search">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-primary" type="button">
                                                                            Search</button>
                                                                    </span>
                                                                </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                      </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        
        </section>
