
<section id="header" class="clearfix cd-secondary-nav">
   
    <div class="container-fluid">
   
     <div class="row">
   
      <div class="col-sm-12">
   
        <nav class="navbar navbar-default">
   
               <!-- Brand and toggle get grouped for better mobile display -->
   
             <div class="navbar-header">
   
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
   
                  <span class="sr-only">Toggle navigation</span>
   
                  <span class="icon-bar"></span>
   
                  <span class="icon-bar"></span>
   
                  <span class="icon-bar"></span>
   
                  </button>
   
                <a class="navbar-brand" routerLink="">CHEF</a>            </div>
   
               <!-- Collect the nav links, forms, and other content for toggling -->
   
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   
                  <ul class="nav navbar-nav">
   
                     <li><a class="m_tag active_m" routerLink="">Home</a></li>
   
                     <li><a class="m_tag" routerLink="about">About</a></li>
   
                     <li class="dropdown">
   
                        <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown">Recipe <b class="caret"></b></a>
   
                        <ul class="dropdown-menu drop_m">
   
                           <li><a routerLink="recipe">Recipe</a></li>
   
                           <li><a routerLink="details">Details</a></li>
   
                        </ul>
   
                     </li>	
   
                     <li><a class="m_tag" routerLink="gallery">Gallery</a></li>				  
   
                     <li><a class="m_tag" routerLink="contact">Contact</a></li>
   
                     <li class="dropdown">
   
                        <a href="#" class="dropdown-toggle m_tag" data-toggle="dropdown">Pages <b class="caret"></b></a>
   
                        <ul class="dropdown-menu drop_m">
   
                           <li><a routerLink="faq">Faq</a></li>
   
                           <li><a routerLink="team">Team</a></li>
   
                        </ul>
   
                     </li>
   
                      <li class="dropdown dropdown-large">
   
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
   
                   <ul class="dropdown-menu dropdown-menu-large row">
   
                       <li class="col-sm-4">
   
                       <div class="header_1">
   
                         <a href="#"><img src="assets/img/54.jpg" alt="abc" class="img_responsive"></a>
   
                         <p><a href="#">Sed Dignissim Lacinia Vestibulum Lacinia Dignissim Lacinia Vestibulum Lacinia</a></p>
                        </div>	
                       </li>
   
                       <li class="col-sm-4">
   
                       <div class="header_1">
   
                        <a href="#"><img src="assets/img/55.jpg" alt="abc" class="img_responsive"></a>
   
                        <p><a href="#">Sed Dignissim Lacinia Vestibulum Lacinia Dignissim Lacinia Vestibulum Lacinia</a></p>
                        </div>	
                       </li>
   
                       <li class="col-sm-4">
   
                       <div class="header_1">
   
                         <a href="#"><img src="assets/img/56.jpg" alt="abc" class="img_responsive"></a>
   
                         <p><a href="#">Sed Dignissim Lacinia Vestibulum Lacinia Dignissim Lacinia Vestibulum Lacinia</a></p>
                        </div>	
                       </li>
                   </ul>
               </li>
   
                  </ul>
   
                  <ul>
   
                      <li>
   
                        <div id="custom-search-input">
   
           <div class="input-group col-md-2">
   
                                   <input type="text" class="  search-query form-control" placeholder="Search">
   
                                   <span class="input-group-btn">
   
                                       <button class="btn btn-danger" type="button">
   
                                           <span class=" glyphicon glyphicon-search"></span>
   
                                       </button>
   
                                   </span>
   
                               </div>
   
          </div>
   
                   </li>
   
                  </ul>			                      
   
   
               </div>
   
               <!-- /.navbar-collapse -->
   
            </nav>
   
      </div>
   
     </div>
   
    </div>
   
   </section>
