
<section id="header">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" routerLink="">Photomania</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           
           <ul class="nav navbar-nav nav_1">
              <li><a class="color_1 active_tab" routerLink="">HOME</a></li>
               <li><a class="color_2" routerLink="article">ARTICLE</a></li>
              <li><a class="color_3" routerLink="offer">OFFER</a></li>
              <li><a class="color_4" routerLink="typography">TYPOGRAPHY</a></li>
              <li><a class="color_6" routerLink="contact">CONTACT</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle color_5" data-toggle="dropdown" href="article.html" aria-expanded="false">DROPDOWN
                <span class="caret"></span></a>
                <ul class="dropdown-menu box_inner">
                  <li><a routerLink="contact">Dropdown 1</a></li>
                  <li><a href="contact">Dropdown 2</a></li>
                  <li><a href="contact">Dropdown 3</a></li>
                  <li><a href="contact">Dropdown 4</a></li>
                  <li><a href="contact">Dropdown 5</a></li>
                  <li><a class="border_none_1" href="contact">Dropdown 6</a></li>
                </ul>
              </li>
              
           </ul>
           <ul class="nav navbar-nav navbar-right nav_2">
              <li><a class="button_1" href="contact"><i class="fa fa-user"></i>Join us</a></li>
              <li><a class="button_1" href="contact"><i class="fa fa-lock"></i>Sign up</a></li>
              <li><a class="like_1" href="contact"><i class="fa fa-thumbs-up"></i>Like 73k</a></li>
               <li><a class="like_2" href="contact"><i class="fa fa-twitter"></i>Follow</a></li>
              <li class="dropdown"><a class="search_1"  href="contact" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span></a>
                <ul class="dropdown-menu drop_1" style="min-width: 300px;">
                    <li>
                        <div class="row_1">
                            <div class="col-sm-12">
                                <form class="navbar-form navbar-left" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            Go!</button>
                                    </span>
                                </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
           </ul>
        </div>
        <!-- /.navbar-collapse -->
       </div>
        
    </nav>

</section>
