<h3>Class Definition</h3>
<p>Grouping of Variables and functions as a unit is called "Class".</p>
<b>Syntax:-</b>
<pre>{{snippet}}</pre>
<p>Here class is called pre-defined keyword to indicate as a class.</p>
<p>className is the name of the class. First letter of Class name always must be starts with capital letter. </p>
<p> {{bracket}} is called class block. Block means group of variables and functions between the {{bracket}} </p>
<h3> Writing a class </h3>
<b> Syntax:-</b>
<pre>{{writingClassSyntax}}</pre>
<b>Example</b>
<pre>{{writingClassExample}}</pre>
<h3>Calling(or)Accessing(or)Executing variables and functions from a class</h3>
<p> To access variables and functions from a class an object variable must be created to the class. In another way  variables and functions of a class are accessed using object variable.</p>
<h4>Creating Object</h4>
<b>Syntax:-</b>
<p> objectVariable = new className();</p>
<p> To access variables use like this objectVariable.variableName;</p>
<p> To access functions use like this objectVariable.functionName();</p>
<p> Creating object is nothing but storing the class in a variable.</p>
<b> Example:-</b>
<p> calculationsObj = new Calculation(); </p>
<p> To access "a" variable use like this calculationsObj.a; </p>
<p> To access addition function use like this calculationsObj.addition();</p>
