<h3>using data property in routing</h3>
            <pre> If route is abc and data is  {{code4}}  then routing will be like below </pre>
            <pre> {{code1}}</pre>

            <p>Now to get the data into the ts-file follow the below process  </p>
                <ol>
                    <li>import ActivatedRoute</li>
                    <li>create  ActivatedRoute object in the constructor   </li>
                    <li>Now subscribe to data property in the ActivatedRoute class </li>
                    <li>Now it will show the value of the data </li>
                </ol>

                <pre>{{code3}}</pre>
