<h2>Object variable Definition</h2>
<p> Storing many values in one variable is called an "Object variable" </p>
<p> Object purpose is same as array, but the difference is, for each value in the array there is an index. But in the object there is a key  </p>
<p> The main purpose of object is, if you change the values order there is no problem when displaying the value. But in arrays there is a problem </p>

<h2> proof </h2>
<p> myFriends=["akbar", "rajesh" , "ramu"]</p>
<p> To display rajesh we will use myFriends[1]</p>
<p> Now change the values order like below  </p>
<p> myFriends=["ramu" , "akbar", "rajesh"] </p>
<p> Now to display rajesh if you use myFriends[1], But after changing the order it will not display rajesh </p>
<p> So to solve the above problem object will be used. Because object will use a key instead of index like array  </p>
<h2> Working with object </h2>
<p>  Object is always stores any data type </p>
<p><b> syntax:</b>  variableName:any = &#123; key1:value1, key2:value2, ........., keyn:valuen &#125;  </p>
<p><b> Example:</b>  myFriends:any  = &#123; friend1:"somu", friend2:"ramu" &#125;  </p>
<p> In object we can't display all values at a time like array </p>
<p> We can display only single value like below </p>
<p> {{myFriends["friend1"]}} (or) {{myFriends.friend1}}</p> 
