<section id="center" class="center_shop"> 
    <div class="container">
     <div class="row">
      <div class="center_shop_1 text-center clearfix">
       <div class="col-sm-12">
         <h1 class="mgt">Blog Details</h1>
         <h5><a href="#">Home</a> / <span class="col_1">Blog Details</span></h5>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="blog_details">
    <div class="container">
     <div class="row">
     <div class="blog_details_1 clearfix">
      <div class="col-sm-8">
       <div class="blog_details_1l clearfix">
        <div class="blog_details_1li clearfix">
         <img src="assets/img/41.jpg" class="iw" alt="abc">
         <div class="blog_details_1lii clearfix">
          <div class="col-sm-4 space_left">
           <div class="col-sm-2 space_left">
            <span><i class="fa fa-folder-open-o"></i></span>
           </div>
           <div class="col-sm-10 space_left">
             <h5 class="mgt"> <span class="col_1">CATEGORY</span> <br> <span>Fashion</span></h5>
           </div>
          </div>
          <div class="col-sm-4 space_left">
           <div class="col-sm-2 space_left">
            <span><i class="fa fa-group"></i></span>
           </div>
           <div class="col-sm-10 space_left">
             <h5 class="mgt"> <span class="col_1">VIEW</span> <br> <span>713,462</span></h5>
           </div>
          </div>
          <div class="col-sm-4 space_left">
           <div class="col-sm-2 space_left">
            <span><i class="fa fa-calendar"></i></span>
           </div>
           <div class="col-sm-10 space_left">
             <h5 class="mgt"> <span class="col_1">LAST UPDATED</span> <br> <span>Jun 11, 2021</span></h5>
           </div>
          </div>
         </div>
         <h4>A researcher is conducting research on coronavirus in the lab</h4>
         <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
         <blockquote>
          <p class="mgt">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
         </blockquote>
         <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
        </div>
        <div class="blog_details_1li1 clearfix">
         <div class="clearfix">
             <div class="col-sm-4 space_left">
               <img src="assets/img/42.jpg" class="iw" alt="abc">
             </div>
             <div class="col-sm-4 space_left">
               <img src="assets/img/43.jpg" class="iw" alt="abc">
             </div>
             <div class="col-sm-4 space_left">
               <img src="assets/img/44.jpg" class="iw" alt="abc">
             </div>
         </div><br>
         <h4>Four major elements that we offer:</h4>
         <p><i class="fa fa-check-circle-o"></i> Scientific skills for getting a better result</p>
         <p><i class="fa fa-check-circle-o"></i> Communication skills to getting in touch</p>
         <p><i class="fa fa-check-circle-o"></i> A career overview opportunity available</p>
         <p><i class="fa fa-check-circle-o"></i> A good work environment for work</p><br>
         <h4>Setting the mood with incense</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
         <h4>The rise of marketing and why you need it</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </div><br>
        <div class="blog_details_1li2 clearfix">
         <div class="col-sm-6 space_left">
          <div class="blog_details_1li2l clearfix">
           <ul>
            <li><i class="fa fa-tag"></i></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Travel</a></li>
           </ul>
          </div>
         </div>
         <div class="col-sm-6 space_left">
          <div class="blog_details_1li2r text-right clearfix">
                       <ul class="social-network social-circle mgt">
                           <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                           <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                           <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                       </ul>
          </div>
         </div>
        </div><br>
        <div class="blog_details_1li3 clearfix">
         <div class="blog_details_1li3i clearfix">
          <h4>2 Comments:</h4>
         </div><br>
         <div class="blog_details_1li3i1 clearfix">
         <div class="col-sm-1 space_all">
          <img src="assets/img/35.jpg" class="iw" alt="abc">
         </div>
         <div class="col-sm-10">
          <h5 class="mgt">Tempus Turpis</h5>
          <p>APRIL 24, 2019 AT 10:59 AM</p>
          <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
          <h5><a class="button" href="#">REPLY</a></h5>
         </div>
         </div><br>
         <div class="blog_details_1li3i1 clearfix">
         <div class="col-sm-1 space_all">
          <img src="assets/img/36.jpg" class="iw" alt="abc">
         </div>
         <div class="col-sm-10">
          <h5 class="mgt">Erat Lacinia</h5>
          <p>APRIL 24, 2019 AT 10:59 AM</p>
          <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
          <h5><a class="button" href="#">REPLY</a></h5>
         </div>
         </div>
        </div><br>
        <div class="blog_details_1li4 clearfix">
         <div class="blog_details_1li4i clearfix">
          <h4 class="mgt">Leave a Reply</h4>
          <p>Your email address will not be published.Required fields are marked<span class="col_2">*</span></p>
         </div>
         <div class="blog_details_1li4i1 clearfix">
          <div class="col-sm-6 space_left">
           <input class="form-control" placeholder="Your Name*" type="text">
          </div>
          <div class="col-sm-6 space_left">
           <input class="form-control" placeholder="Your Email*" type="text">
          </div>
         </div>
         <div class="blog_details_1li4i1 clearfix">
          <div class="col-sm-12 space_left">
           <input class="form-control" placeholder="Website" type="text">
          </div>
         </div>
         <div class="blog_details_1li4i1 clearfix">
          <div class="col-sm-12 space_left">
           <textarea placeholder="Your Comment..." class="form-control form_1"></textarea>
           <p><input type="checkbox"> Save my name, email, and website in this browser for the next time I comment.</p>
           <h5><a class="button" href="#">Post A Comment</a></h5>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="blog_details_1r clearfix">
        <div class="blog_details_1r1 mgt clearfix">
         <h4 class="mgt">Search</h4>
         <div class="input-group">
               <input type="text" class="form-control" placeholder="Search">
               <span class="input-group-btn">
                   <button class="btn btn-primary" type="button">
                       Search</button>
               </span>
        </div>
       </div>
        <div class="blog_details_1r1 clearfix">
         <h4 class="mgt">Popular Posts</h4>
         <div class="clearfix">
         <img src="assets/img/45.jpg" alt="abc" class="img-responsive">
         <h6 class="mgt">JUNE 10, 2020</h6>
         <h5><a href="#">The Data Surrounding Higher Education</a></h5>
         </div><br>
         <div class="clearfix">
         <img src="assets/img/46.jpg" alt="abc" class="img-responsive">
         <h6 class="mgt">JUNE 10, 2020</h6>
         <h5><a href="#">The Data Surrounding Higher Education</a></h5>
         </div><br>
         <div class="clearfix">
         <img src="assets/img/47.jpg" alt="abc" class="img-responsive">
         <h6 class="mgt">JUNE 10, 2020</h6>
         <h5><a href="#">The Data Surrounding Higher Education</a></h5>
         </div>
       </div>
       <div class="blog_details_1r1 clearfix">
         <h4 class="mgt">Categories</h4>
         <ul>
          <li><a href="#"><i class="fa fa-circle"></i> Design (03)</a></li>
          <li><a href="#"><i class="fa fa-circle"></i> Lifestyle (05)</a></li>
          <li><a href="#"><i class="fa fa-circle"></i> Script (10)</a></li>
          <li><a href="#"><i class="fa fa-circle"></i> Device (08)</a></li>
          <li><a href="#"><i class="fa fa-circle"></i> Tips (01)</a></li>
         </ul>
       </div>
       <div class="blog_details_1r2 clearfix">
         <h4 class="mgt">Popular Tags</h4>
         <ul>
          <li><a href="#"> Design (03)</a></li>
          <li><a href="#"> Aike (2)</a></li>
          <li><a href="#"> Smart (1)</a></li>
          <li><a href="#"> Tips (2)</a></li>
          <li><a href="#"> Marketing (1)</a></li>
          <li><a href="#"> Fashion (2)</a></li>
          <li><a href="#"> Business (3)</a></li>
          <li><a href="#"> Travel (03)</a></li>
         </ul>
       </div>
       <div class="blog_details_1r2 clearfix">
        <div class="clearfix">
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/6.jpg" class="iw" alt="abc"></a>
         </div>
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/7.jpg" class="iw" alt="abc"></a>
         </div>
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/8.jpg" class="iw" alt="abc"></a>
         </div>
        </div>
        <div class="clearfix clear_1">
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/9.jpg" class="iw" alt="abc"></a>
         </div>
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/10.jpg" class="iw" alt="abc"></a>
         </div>
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/11.jpg" class="iw" alt="abc"></a>
         </div>
        </div>
        <div class="clearfix clear_1">
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/6.jpg" class="iw" alt="abc"></a>
         </div>
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/7.jpg" class="iw" alt="abc"></a>
         </div>
         <div class="col-sm-4 space_left">
          <a href="#"><img src="assets/img/8.jpg" class="iw" alt="abc"></a>
         </div>
        </div>
       </div>
       </div>
      </div>
     </div>
     </div>
    </div>
   </section>
   
   <section id="connect" class="clearfix">
    <div class="container">
     <div class="row">
      <div class="col-sm-12 space_all">
       <div class="connect_1 clearfix">
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-truck"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Free Shipping</h4>
          <p>Free shipping world wide</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-headphones"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Support 24/7</h4>
          <p>Contact us 24 hours a day</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-credit-card"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Secure Payments</h4>
          <p>100% payment protection</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m border_none">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-shopping-cart"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Easy Return</h4>
          <p>Simple returns policy</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
