<h3>What are angular life-cycle hooks</h3>
<p> Every page we are seeing on the browser is a component in angular. To understand the actions performing from opening the page closing the page , we need some pre-defined functions to know which action is performing  </p>
<p> So angular is providing some pre-defined functions to know the actions performing on the page(or)component. This are called angular life-cycle hooks. </p>
<input type="text" placeholder="Enter Content" [(ngModel)]="name"/>
<button type="button" (click)="user()">Submit</button>
<ol> 
    <li>ngOnInit</li>
    <li>ngDoCheck</li>
    <li>ngAfterContentInit</li>
    <li>ngAfterContentChecked</li>
    <li>ngAfterViewInit</li> 
    <li>ngAfterViewChecked</li>

    <li>ngOnChanges</li> 
    <li>ngOnDestroy</li>
</ol>
<p>{{name}}</p>
<p>{{name}}</p>