

<section id="article_page">
    <div class="container">
     <div class="row">
      <div class="article_page clearfix">
       <div class="col-sm-9">
         <div class="article_page_left clearfix">
          <div class="article_page_left_inner clearfix">
            <h5><a href="deals.html"> Recent Articles</a></h5>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
            <div class="article_page_left_inner_page clearfix">
              <div class="col-sm-7 space_left">
               <div class="article_page_left_inner_page_left">
                <img src="assets/img/78.jpg" class="img-circle" style="float:left;">
                <div class="clearfix">
                <p>by<a href="deals.html"> Photomania</a> in <a href="deals.html">Posts</a>, <a href="deals.html">Office</a></p>
                <h4>Posted October 12, 2013</h4>
                </div>
               </div>
              </div>
              <div class="col-sm-5">
                <div class="article_page_left_inner_page_right text-right">
                  <a class="like_1" href="deals.html"><i class="fa fa-thumbs-up"></i>Like 5</a>
                  <a class="like_1 f_tag_1" href="deals.html"><i class="fa fa-facebook"></i>Share 7</a>
                  <a class="like_2" href="deals.html"><i class="fa fa-twitter"></i>Tweet</a>
                  <a class="like_3" href="deals.html"><i class="fa fa-google-plus"></i></a>
   
                </div>
              </div>
            </div>
            <div class="article_page_left_inner_page_1 clearfix">
             <img src="assets/img/1.jpg" width="100%" height="400px">
             <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
             <h3> Integer Nec Odio</h3>
             <p> Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
             <ul>
              <li>Nulla quis sem at nibh elementum imperdiet.</li>
              <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
             </ul>
             <h3>Nibh Elementum</h3>
             <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.</p>
             <h4>Litora Torquent</h4>
             <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
             <ul style="list-style:decimal;">
              <li>Fusce nec tellus sed augue semper porta. Mauris massa. </li>
              <li>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris.</li>
              <li>Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</li>
             </ul>
             <h4>Augue Semper Porta</h4>
             <p>Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
             <h5>Nulla quis</h5>
             <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
            </div>
          </div>
          <div class="article_page_left_inner_1 clearfix">
            <h3 class="heading_1"> Which thing the people want?</h3>
            <div class="features_left clearfix cut_bottom_1">
              <div class="col-sm-3 space_all ">
                    <div class="post_home_middle_inner clearfix">
                      <a href="deals.html">
                   <img src="assets/img/68.jpg" width="100%">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </a>
                    </div>
                 </div>
              <div class="col-sm-3 space_all cut_left_1">
                    <div class="post_home_middle_inner clearfix">
                      <a href="deals.html">
                   <img src="assets/img/69.jpg" width="100%">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </a>
                    </div>
                 </div>
              <div class="col-sm-3 space_all cut_left_1">
                    <div class="post_home_middle_inner clearfix">
                      <a href="deals.html">
                   <img src="assets/img/70.jpg" width="100%">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </a>
                    </div>
                 </div>
              <div class="col-sm-3 space_all cut_left_1">
                    <div class="post_home_middle_inner clearfix">
                      <a href="deals.html">
                   <img src="assets/img/71.jpg" width="100%">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </a>
                    </div>
                 </div>
            </div>
          </div>
          <div class="article_page_left_inner_3 clearfix">
            <h3 class="heading_1"> About The Writer</h3>
            
          </div>
          <div class="article_page_left_inner_4 clearfix">
            <div class="article_page_left_inner_page border_none_1 clearfix">
              <div class="col-sm-7 space_left">
               <div class="article_page_left_inner_page_left">
                <img src="assets/img/80.jpg" class="img-circle" style="float:left;">
                <div class="clearfix">
               <p>by<a href="deals.html"> Photomania</a> in <a href="deals.html">Posts</a>, <a href="deals.html">Office</a></p>
                <h4>Posted November 13, 2016</h4>
                </div>
               </div>
              </div>
              <div class="col-sm-5">
                <div class="article_page_left_inner_page_right text-right">
                  <a class="like_1" href="deals.html"><i class="fa fa-thumbs-up"></i>Like 5</a>
                  <a class="like_1 f_tag_1" href="deals.html"><i class="fa fa-facebook"></i>Share 7</a>
                  <a class="like_2" href="deals.html"><i class="fa fa-twitter"></i>Tweet</a>
                  <a class="like_3" href="deals.html"><i class="fa fa-google-plus"></i></a>
   
                </div>
              </div>
            </div>
          </div>
          
          <div class="article_page_left_inner_2 clearfix">
            <div class="col-sm-4 space_all"><h3 class="heading_1"><a href="deals.html"> Comments (9)</a></h3></div>
            <div class="clearfix heading_box col-sm-8 space_all ">
              <h4><a href="deals.html">Latest Comments</a></h4>
            </div>
            
          </div>
          <div class="article_page_left_inner_5 clearfix">
           <div class="article_page_left_inner_5_inner clearfix">
            <div class="col-sm-2">
             <div class="article_page_left_inner_5_inner_left">
              <img class="img-circle" src="assets/img/79.jpg">
             </div>
            </div>
            <div class="col-sm-10">
              <div class="article_page_left_inner_5_inner_right">
               <div class="clearfix">
                <div class="col-sm-6 space_left">
                 <h6>Dapibus	<span>May 21, 2013</span></h6>
   
                </div>
                <div class="col-sm-6 text-right">
                 <h5>
                  <i class="fa fa-thumbs-up"></i>
                  <span>8</span>
                  <i class="fa fa-thumbs-down"></i>
                 </h5>
                </div>
               </div>
               <p>
                  Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta  Vestibulum lacinia arcu eget nulla.
               </p>
               <h3><a href="deals.html">Reply</a></h3>
              </div>
              
            </div>
           </div>
           <div class="article_page_left_inner_5_inner clearfix">
            <div class="col-sm-2">
             <div class="article_page_left_inner_5_inner_left">
              <img class="img-circle" src="assets/img/81.jpg">
             </div>
            </div>
            <div class="col-sm-10">
              <div class="article_page_left_inner_5_inner_right">
               <div class="clearfix">
                <div class="col-sm-6 space_left">
                 <h6>Litora Torquent		<span>May 21, 2013</span></h6>
   
                </div>
                <div class="col-sm-6 text-right">
                 <h5>
                  <i class="fa fa-thumbs-up"></i>
                  <span>1</span>
                  <i class="fa fa-thumbs-down"></i>
                 </h5>
                </div>
               </div>
               <p>
                 Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta  Vestibulum lacinia arcu eget nulla.
               </p>
               <h3><a href="deals.html">Reply</a></h3>
              </div>
              
            </div>
           </div>
           <div class="article_page_left_inner_5_inner clearfix">
            <div class="col-sm-2">
             <div class="article_page_left_inner_5_inner_left">
              <img class="img-circle" src="assets/img/82.jpg">
             </div>
            </div>
            <div class="col-sm-10">
              <div class="article_page_left_inner_5_inner_right">
               <div class="clearfix">
                <div class="col-sm-6 space_left">
                 <h6>Conubia		<span>May 21, 2013</span></h6>
   
                </div>
                <div class="col-sm-6 text-right">
                 <h5>
                  <i class="fa fa-thumbs-up"></i>
                  <span>2</span>
                  <i class="fa fa-thumbs-down"></i>
                 </h5>
                </div>
               </div>
               <p>
                 Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta  Vestibulum lacinia arcu eget nulla.
               </p>
               <h3><a href="deals.html">Reply</a></h3>
              </div>
              
            </div>
           </div>
           <div class="article_page_left_inner_5_inner clearfix">
            <div class="col-sm-2">
             <div class="article_page_left_inner_5_inner_left">
              <img class="img-circle" src="assets/img/83.jpg">
             </div>
            </div>
            <div class="col-sm-10">
              <div class="article_page_left_inner_5_inner_right">
               <div class="clearfix">
                <div class="col-sm-6 space_left">
                 <h6>Per Inceptos 	<span>May 21, 2013</span></h6>
   
                </div>
                <div class="col-sm-6 text-right">
                 <h5>
                  <i class="fa fa-thumbs-up"></i>
                  <span>5</span>
                  <i class="fa fa-thumbs-down"></i>
                 </h5>
                </div>
               </div>
               <p>
                 Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta  Vestibulum lacinia arcu eget nulla.
               </p>
               <h3><a href="deals.html">Reply</a></h3>
              </div>
              
            </div>
           </div>
          </div>
          <div class="comment_heading clearfix">
            <h3 class="heading_1">Post Comments</h3>
          </div>
          
          <div class="comment_1 clearfix">
            <textarea class="form-control select_1" placeholder="Comment Text*"></textarea>
            <input type="text" placeholder="Name*" class="form-control text_1_box">
            <input type="text" placeholder="Email*" class="form-control text_1_box">
            <input type="text" placeholder="Website" class="form-control text_1_box">
            <p><a href="deals.html">Submit</a></p>
          </div>
          
         </div>
         
       </div>
       <div class="col-sm-3 space_right">
         <div class="article_page_right clearfix">
          <div class="article_page_right_inner">
           <img src="assets/img/84.jpg" class="thumbnail" width="100%">
          </div>
          <div class="article_page_right_inner_1 clearfix">
           <h3 class="heading_1">EXCITING OFFERS</h3>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/85.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Nulla quis elementum imperdiet</a></p>
              </div>
            </div>
           </div>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/86.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Duis sagittis ipsum praesent mauris</a></p>
              </div>
            </div>
           </div>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/87.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Fusce nec tellus sed augue semper</a></p>
              </div>
            </div>
           </div>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/88.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Vestibulum lacinia arcu eget nulla</a></p>
              </div>
            </div>
           </div>
          </div>
          <div class="article_page_right_inner_2 text-center">
            <p><a href="deals.html">View all offers<i class="fa fa-arrow-right"></i></a></p>
          </div>
          <div class="article_page_right_inner_1 clearfix">
           <h3 class="heading_1">POPULAR CATEGORY</h3>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/89.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Nulla quis elementum imperdiet</a></p>
              </div>
            </div>
           </div>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/90.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Duis sagittis ipsum praesent mauris</a></p>
              </div>
            </div>
           </div>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/91.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Fusce nec tellus sed augue semper</a></p>
              </div>
            </div>
           </div>
           <div class="article_page_right_inner_1_inner clearfix">
            <div class="col-sm-6 space_all">
             <div class="article_page_right_inner_1_inner_image">
              <a href="deals.html"><img src="assets/img/92.jpg" width="100%" height="100px"></a>
             </div>
            </div>
            <div class="col-sm-6 space_left">
              <div class="article_page_right_inner_1_inner_text">
               <p><a href="deals.html">Vestibulum lacinia arcu eget nulla</a></p>
              </div>
            </div>
           </div>
          </div>
         </div>
       </div>
      </div>
     </div>
    </div>
   </section>
