	
<section id="center" class="center_shop clearfix">
    <div class="container">
     <div class="row">
       <div class="center_shop_1 clearfix">
        <div class="col-sm-12">
         <h5 class="mgt">
          <a href="#">Home <i class="fa fa-long-arrow-right"></i> </a>
          <a href="#">Product List</a>
         </h5>
        </div>
       </div>
     </div>
    </div>
   </section>
   
   <section id="product" class="clearfix">
    <div class="container">
     <div class="row">
       <div class="product_1 clearfix">
        <div class="col-sm-3">
         <div class="product_1l mgt clearfix">
          <h4 class="mgt">Categories</h4>
          <h5><a href="detail.html">T-Shirts</a></h5>
          <h5><a href="detail.html">Jacket</a></h5>
          <h5><a href="detail.html">Jeans</a></h5>
          <h5><a href="detail.html">Sweatshirts</a></h5>
          <h5><a href="detail.html">Trousers</a></h5>
          <h5><a href="detail.html">Kitwears</a></h5>
          <h5><a href="detail.html">Accessories</a></h5>
         </div>
         <div class="product_1l clearfix">
          <h4 class="mgt">Shop By Price</h4>
          <h6>Range:</h6>
          <h5 class="bold">$120 - $250</h5><br>
          <h5><input type="checkbox" > $20 - $50 (2)</h5>
          <h5><input type="checkbox" > $50 - $80 (5)</h5>
          <h5><input type="checkbox" > $80 - $120 (7)</h5>
         </div>
         <div class="product_1l clearfix">
          <h4 class="mgt">Recent Post</h4>
          <div class="product_1li clearfix">
           <img src="assets/img/28.jpg" alt="abc">
           <h5 class="mgt"><a href="detail.html">Girls Dress</a> <br>$89.00</h5>
           <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
           </span>
          </div>
          <div class="product_1li clearfix">
           <img src="assets/img/29.jpg" alt="abc">
           <h5 class="mgt"><a href="detail.html">Kids Dress</a> <br>$69.00</h5>
           <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
           </span>
          </div>
          <div class="product_1li border_none pdb clearfix">
           <img src="assets/img/30.jpg" alt="abc">
           <h5 class="mgt"><a href="detail.html">Best Dress</a> <br>$99.00</h5>
           <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
           </span>
          </div>
         </div>
         <div class="product_1l clearfix">
          <h4 class="mgt">Manufacturers</h4>
          <h5><a href="detail.html">Forever</a></h5>
          <h5><a href="detail.html">Giordano</a></h5>
          <h5><a href="detail.html">Abercrombie</a></h5>
          <h5><a href="detail.html">Ecko United</a></h5>
          <h5><a href="detail.html">Zara</a></h5>
         </div>
        </div>
        <div class="col-sm-9">
         <div class="product_1r clearfix">
                 <h5 class="mgt">Show :</h5>
                <select class="form-control">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
                <h5 class="mgt">  Sort By :</h5>
                <select class="form-control">
                    <option>Default</option>
                    <option>Popularity</option>
                    <option>Latest</option>
                    <option>Price: low to high</option>
                    <option>Price: high to low</option>
                </select>
         </div>
         <div class="home_inner clearfix">
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/7.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Semper Porta</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg">NEW</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/8.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Eget Nulla</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg1">HOT</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/9.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Lacinia Nunc</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg2">5% OFF</h6>
                  </div>
                </div>
              </div>
         </div>
         <div class="home_inner clearfix">
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/10.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Semper Porta</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg">NEW</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/11.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Eget Nulla</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg1">HOT</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/12.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Lacinia Nunc</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg2">5% OFF</h6>
                  </div>
                </div>
              </div>
         </div>
         <div class="home_inner clearfix">
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/13.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Semper Porta</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg">NEW</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/14.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Eget Nulla</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg1">HOT</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="workout_1_inner clearfix">
                  <div class="workout_1_in1 clearfix">
                   <a href="detail.html"><img src="assets/img/7.jpg" class="iw" alt="abc"></a>
                   <h5><a href="detail.html">Lacinia Nunc</a></h5>
                   <h5>$39.00</h5>
                  </div> 
                  <div class="workout_1_in2 clearfix">
                    <div class="col-sm-6 space_all">
                     <h6 class="mgt"><a href="detail.html">ADD TO CART</a></h6>
                    </div>
                    <div class="col-sm-6 space_all">
                     <ul class="mgt pull-right">
                      <li><a href="detail.html"><i class="fa fa-eye"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href="detail.html"><i class="fa fa-bar-chart-o"></i></a></li>
                     </ul>
                    </div>
                  </div>
                  <div class="workout_1_in3 clearfix">
                   <h6 class="mgt bg2">5% OFF</h6>
                  </div>
                </div>
              </div>
         </div>
         <div class="product_1_last text-center clearfix">
         <div class="col-sm-12">
          <ul>
           <li class="act"><a href="detail.html">1</a></li>
           <li><a href="detail.html">2</a></li>
           <li><a href="detail.html">3</a></li>
           <li><a href="detail.html">4</a></li>
           <li><a href="detail.html">5</a></li>
           <li><a href="detail.html">6</a></li>
           <li><a href="detail.html"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
         </div>
        </div>
        </div>
       </div>
     </div>
    </div>
   </section>
   
   <section id="enquiry">
    <div class="container">
     <div class="row">
       <div class="enquiry_1 text-center clearfix">
        <div class="col-sm-12">
         <h4 class="mgt">NEWSLETTER</h4>
         <p>Subscribe to our newsletter and get <span class="col_1">20%</span> off your first purchase</p>
         <div class="input-group">
           <input type="text" class="form-control form_2" placeholder="Your Email">
           <span class="input-group-btn">
               <button class="btn btn-primary" type="button">
                   SUBSCRIBE</button>
           </span>
         </div>
        </div>
       </div>
     </div>
    </div>
   </section>
