
<section id="center" class="center_product clearfix">
    <div class="center_product_main clearfix">
      <div class="container">
         <div class="row">
          <div class="center_product_1 clearfix">
           <div class="col-sm-6">
            <div class="center_product_1_left clearfix">
              <h4>PRODUCTS</h4>
            </div>
           </div>
           <div class="col-sm-6">
            <div class="center_product_1_right text-right clearfix">
             <ul>
              <li><a href="detail.html">Home <i class="fa fa-caret-right"></i></a></li>
              <li>Products <i class="fa fa-caret-right"></i></li>
             </ul>
            </div>
           </div>
          </div>
         </div>
    </div>
    </div>
   </section>
   
   <section id="product_page" class="clearfix">
    <div class="container">
     <div class="row">
      <div class="col-sm-3">
       <div class="product_page_left clearfix">
        <h4>STORE BY</h4>
        <hr>
        <h5>Classification</h5>
        <ul>
         <li><a href="detail.html">Shoes (14) </a></li>
         <li><a href="detail.html">Watches (15) </a></li>
         <li><a href="detail.html">Mobile Phones (70) </a></li>
        </ul>
       </div>
       <div class="product_page_left_1 clearfix">
         <h4>Rate</h4>
         <hr>
         <p>$51 - $178</p>
       </div>
       <div class="product_page_left_2 clearfix">
         <h4>EQUATE BRANDS</h4>
         <hr>
         <p>You have nothing to equate.</p>
       </div>
       <div class="product_page_left_2 clearfix">
         <h4>POPULAR BRANDS</h4>
         <hr>
         <div class="product_page_left_2_inner clearfix">
          <div class="col-sm-4 space_left">
           <div class="product_page_left_2_inner_left clearfix">
            <a href="detail.html"><img src="assets/img/25.jpg" width="100%"></a>
           </div>
          </div>
          <div class="col-sm-8 space_left">
           <div class="product_page_left_2_inner_right clearfix">
            <h5>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
            </h5>
            <p><a href="detail.html">Cursus ante dapibus diam...</a></p>
            <h4>$50.00  <span>$70.00</span></h4>
           </div>
          </div>
         </div>
         <div class="product_page_left_2_inner clearfix">
          <div class="col-sm-4 space_left">
           <div class="product_page_left_2_inner_left clearfix">
            <a href="detail.html"><img src="assets/img/26.jpg" width="100%"></a>
           </div>
          </div>
          <div class="col-sm-8 space_left">
           <div class="product_page_left_2_inner_right clearfix">
            <h5>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
            </h5>
            <p><a href="detail.html">Nulla quis sem at nibh...</a></p>
            <h4>$45.00  <span>$80.00</span></h4>
           </div>
          </div>
         </div>
         <div class="product_page_left_2_inner border_none_1 clearfix">
          <div class="col-sm-4 space_left">
           <div class="product_page_left_2_inner_left clearfix">
            <a href="detail.html"><img src="assets/img/27.jpg" width="100%"></a>
           </div>
          </div>
          <div class="col-sm-8 space_left">
           <div class="product_page_left_2_inner_right clearfix">
            <h5>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
            </h5>
            <p><a href="detail.html">Lorem ipsum dolor sit...</a></p>
            <h4>$35.00  <span>$65.00</span></h4>
           </div>
          </div>
         </div>
       </div>
       <div class="product_page_left_3 clearfix">
          <div class="grid">
                       <figure class="effect-layla">
                           <img src="assets/img/28.jpg" alt="assets/img03"/>
                           <figcaption>
                               <h2>Latest <span>Offer</span></h2>
                               <p> Fusce nec tellus sed augue semper porta.</p>
                               <a href="detail.html">View more</a>						</figcaption>			
             </figure>
         </div>
       </div>
      </div>
      <div class="col-sm-9">
       <div class="product_page_right clearfix">
        <div class="product_page_right_1 clearfix">
          <div class="col-sm-6">
           <div class="product_page_right_1_left clearfix">
             <label class="label_1">Sort By</label> 
              <select class="form_1"> 
                 <option>Class</option> 
                 <option>Brand Name</option> 
                 <option>Rating</option> 
              </select>
           </div>
          </div>
          <div class="col-sm-6">
           <div class="product_page_right_1_left text-right clearfix">
             <label class="label_1">Show</label> 
              <select class="form_2"> 
                 <option>1</option> 
                 <option>10</option> 
                 <option>15</option>
                 <option>20</option>
                 <option>25</option> 
              </select>
              <ul> 
               <li>Page:</li>
               <li class="tag_page">1</li>
               <li><a href="detail.html">2</a></li>
               <li><a href="detail.html">3</a></li>
               <li><a href="detail.html"><i class="fa fa-caret-right"></i></a></li>
              </ul>
           </div>
          </div>
        </div>
        <div class="product_page_right_2 clearfix">
         <div class="col-sm-3 space_left">
          <div class="product_page_right_2_left clearfix">
           <a href="detail.html"><img src="assets/img/7.png" width="100%" height="230px"></a>
          </div>
         </div>
         <div class="col-sm-9">
          <div class="product_page_right_2_right clearfix">
           <h4><a href="detail.html">Consectetur adipiscing elit</a></h4>
           <h5><a href="detail.html">
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             </a>
            </h5>
            <h6>$124.00</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
            <ul>
              <li><a class="tag_3" href="detail.html"><i class="fa fa-shopping-cart"></i> Add To Wishlist</a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-heart-o"></i></a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-share"></i></a></li>
            </ul>
          </div>
         </div>
        </div>
        <div class="product_page_right_2 clearfix">
         <div class="col-sm-3 space_left">
          <div class="product_page_right_2_left clearfix">
           <a href="detail.html"><img src="assets/img/8.png" width="100%" height="230px"></a>
          </div>
         </div>
         <div class="col-sm-9">
          <div class="product_page_right_2_right clearfix">
           <h4><a href="detail.html">At nibh elementum imperdiet</a></h4>
           <h5><a href="detail.html">
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             </a>
            </h5>
            <h6>$114.00</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
            <ul>
              <li><a class="tag_3" href="detail.html"><i class="fa fa-shopping-cart"></i> Add To Wishlist</a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-heart-o"></i></a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-share"></i></a></li>
            </ul>
          </div>
         </div>
        </div>
        <div class="product_page_right_2 clearfix">
         <div class="col-sm-3 space_left">
          <div class="product_page_right_2_left clearfix">
           <a href="detail.html"><img src="assets/img/12.png" width="100%" height="230px"></a>
          </div>
         </div>
         <div class="col-sm-9">
          <div class="product_page_right_2_right clearfix">
           <h4><a href="detail.html">Sagittis ipsum praesent mauris</a></h4>
           <h5><a href="detail.html">
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             </a>
            </h5>
            <h6>$134.00</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
            <ul>
              <li><a class="tag_3" href="detail.html"><i class="fa fa-shopping-cart"></i> Add To Wishlist</a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-heart-o"></i></a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-share"></i></a></li>
            </ul>
          </div>
         </div>
        </div>
        <div class="product_page_right_2 clearfix">
         <div class="col-sm-3 space_left">
          <div class="product_page_right_2_left clearfix">
           <a href="detail.html"><img src="assets/img/9.png" width="100%" height="230px"></a>
          </div>
         </div>
         <div class="col-sm-9">
          <div class="product_page_right_2_right clearfix">
           <h4><a href="detail.html"> Sed augue semper porta</a></h4>
           <h5><a href="detail.html">
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             <i class="fa fa-star-o"></i>
             </a>
            </h5>
            <h6>$164.00</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</p>
            <ul>
              <li><a class="tag_3" href="detail.html"><i class="fa fa-shopping-cart"></i> Add To Wishlist</a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-heart-o"></i></a></li>
              <li><a class="tag_4" href="detail.html"><i class="fa fa-share"></i></a></li>
            </ul>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
