<section id="faq_main">

    <div class="faq_inner clearfix">
   
     <div class="container">
   
     <div class="row">
   
      <div class="faq_main_1">
   
       <h1>FAQ</h1>
   
      </div>
   
     </div>
   
    </div>
   
    </div>
   
   </section>
   
   <section id="faq">
   
    <div class="container">
   
     <div class="row">
   
      <div class="faq_1 clearfix">
   
       <div class="col-sm-4">
   
        <div class="faq_2">
   
          <a href="#"><img src="assets/img/90.jpg" alt="abc" class="img_responsive"></a>
   
         <h2>Suggestions?</h2>
   
         <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem augue massa faucibus eu volutpat quis</p>
   
         <a href="#" class="button_1">Read More</a>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="faq_2">
   
         <a href="#"><img src="assets/img/91.jpg" alt="abc" class="img_responsive"></a>
   
         <h2>Pre-sell Questions?</h2>
   
         <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem augue massa faucibus eu volutpat quis</p>
   
         <a href="#" class="button_1">Read More</a>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="faq_2">
   
         <a href="#"><img src="assets/img/92.jpg" alt="abc" class="img_responsive"></a>
   
         <h2>Need Support?</h2>
   
         <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem augue massa faucibus eu volutpat quis</p>
   
         <a href="#" class="button_1">Read More</a>
   
        </div>
   
       </div>
   
      </div>
   
      <div class="faq_3 clearfix">
   
       <div class="col-sm-4">
   
        <div class="faq_5">
   
         <h2>Need Support</h2>
   
         <p>Pellentesque vehicula nibh ut dolor lobortis in pellentesque nulla ornare. Nam eget enim sed diam scelerisque rutrum.
   
           Endi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur 
   
         </p>
   
         <a href="#"><img src="assets/img/93.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
       </div>
   
       <div class="col-sm-8">
   
        <div class="faq_4">
   
         <div class="ziehharmonika">
   
               <h3 data-prefix="★" class="active">How to install wordpress theme?<div class="arrowDown"></div><div class="collapseIcon">–</div></h3>
   
               <div style="display: block;">
   
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
               <h3 data-prefix="★">How much is a remake of the theme design?<div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
   
               <div style="">
   
                   <p>Consectetur adipisicing elit. Eligendi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
               <h3 data-prefix="★">How many pages with slideshow <div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
   
               <div style="">
   
                   <p>Endi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
               <h3 data-prefix="★">Where can I find full demo content?<div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
   
               <div style="">
   
                   <p>Endi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
               <h3 data-prefix="★">How to disable breadcrumbs<div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
   
               <div style="">
   
                   <p>Endi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
               <h3 data-prefix="★">What cache plugin do you suggest<div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
   
               <div style="">
   
                   <p>Endi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
               <h3 data-prefix="★">How to update the theme?<div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
   
               <div style="">
   
                   <p>Endi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
               <h3 data-prefix="★">Where i can find benefits icons?<div class="arrowDown"></div><div class="collapseIcon">+</div></h3>
   
               <div style="">
   
                   <p>Endi commodi facere odit alias velit ducimus accusantium maiores, mollitia vitae eum quae maxime labore, quia non consequatur culpa similique, molestiae dicta.</p>
   
               </div>
   
           </div>
   
        </div>
   
       </div>	
   
      </div>
   
     </div>
   
    </div>
   
   </section>
