<h2>Array Variable Definition</h2>
<p> Storing many values in one variable is called an "Array variable" </p>
<p><b> syntax:</b>  variableName:Array &lt; dataType &gt; = [value1, value2, ........., value-n];  </p>
<p><b> Example:</b>  myFriends:Array &lt; string &gt; = ["somu", "ramu"];  </p>
<p>{{myFriends}}</p>


<p>The above Array variable displayed all values in the array </p>
<p>but if you want display any one value in the array, we have to do in the following way</p>
<p><b>syntax:</b>  variableName[index]</p>
<p>Index means position (or) serial number of the value in the array.</p>
<p>position (or) serial number start from 0(zero).</p>
<p>In the above example somu position is 0 and ramu position is 1. So if you want display ramu the variable has to written like below</p>
<p>myFriends[1]</p>
<p>{{myFriends[1]}}</p>


<h3> Note </h3>
<p> If you want store any data type in the array, in place of data type we can write any </p>
<p>{{friends}}</p>
<p>Any one value in array</p>
<p>{{friends[2]}}</p>