.ml-auto
{
    margin-left: auto;
}
.color a{
    color:#fff;
}
.color-1{
    color:#fff;
}
.color-2{
    background-color: #fff;
    color:#520606 !important;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
}