
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" fxShow.xs  fxHide>
      <mat-icon>menu</mat-icon>
    </button>
      <a routerLink="admin" class="color-1">
        <span>Home</span>
      </a>
      <span class=" ml-auto"></span>
      <div fxLayout="row" fxLayoutGap="2rem" class="color">
        <a routerLink="country" routerLinkActive="color-2">
          <span>Country</span>
        </a>
        <a routerLink="state"  routerLinkActive="color-2">
          <span>State</span>
        </a>
        <a routerLink="district" routerLinkActive="color-2">
          <span>District</span>
        </a>
        <a routerLink="mandal" routerLinkActive="color-2">
          <span>Mandal</span>
        </a>
        <a routerLink="village" routerLinkActive="color-2">
          <span>Village</span>
        </a> 
        <a routerLink="restaurant" routerLinkActive="color-2">
          <span>restaurant</span>
        </a> 
        <a routerLink="level1Categories"  routerLinkActive="color-2"> 
          <span>level1Categories</span>
        </a>
        <a routerLink="" >
            <span>Logout</span>
        </a>    
      </div>
</mat-toolbar>
