<div id="sticky-header"
class="fixed  flex flex-col items-center justify-center !m-0 h-12 md:h-16 navbar-sticky bg-basicWhite  top-0 z-100 w-full">
<div class="flex items-center relative justify-between w-full xl:hidden">
  <div class="flex items-center justify-between w-full px-5 md:px-8">
    <div class="flex items-center justify-between w-full">
      <a class="text-undefined font-undefined  undefined " href="/">
        <div class="w-[94px] h-5 md:w-[112px] md:h-6 relative"><span
            style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
              alt="logo" src="/images/logo.png" decoding="async" data-nimg="fill" class="w-full h-full"
              style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              sizes="100vw"
              srcset="/images/logo.png 640w, /images/logo.png 750w, /images/logo.png 828w, /images/logo.png 1080w, /images/logo.png 1200w, /images/logo.png 1920w, /images/logo.png 2048w, /images/logo.png 3840w"></span>
        </div>
      </a>
    </div>
    <div class="flex items-center gap-x-4 md:gap-x-6">
      <div class="flex items-center md:hidden gap-x-2"><button (click)="closeLoginPopup('true')"
          class="flex flex-row justify-center items-center whitespace-nowrap w-min cursor-pointer rounded-lg undefined px-4 py-2 gap-x-1 border-1 bg-primary-500 text-basicWhite border-transparent hover:bg-primary-300 hover:shadow-md active:bg-primary-600 active:text-basicWhite ">
          <p class="p4-medium">Login/Sign Up</p>
        </button></div>
      <div class="items-center hidden md:flex gap-x-2"><button
          class="flex flex-row justify-center items-center whitespace-nowrap w-min cursor-pointer rounded-lg undefined px-4 py-2 gap-x-1 border-1 bg-primary-500 text-basicWhite border-transparent hover:bg-primary-300 hover:shadow-md active:bg-primary-600 active:text-basicWhite ">
          <p class="p4-medium" (click)="closeLoginPopup('true')">Login/Sign Up</p>
        </button></div><button class="outline-none mobile-menu-button">
        <div class="relative w-6 h-6"><span
            style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
              alt="bar" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              decoding="async" data-nimg="fill" class="w-full h-full"
              style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
        </div>
      </button>
    </div>
    <div
      class="mobile-menu-hidden hidden fixed top-12 md:top-16 right-0 z-50 mobile-menu min-width-full md:w-[350px]">
      <div
        class="relative flex flex-col justify-between w-screen pb-20 bg-basicWhite md:w-full backdrop-blur-lg mobile-menu-content"
        style="height: 607px;">
        <ul class="px-5 overflow-y-auto">
          <li>
            <div>
              <div
                class="border-b-[1px] border-gray-200 flex justify-between py-5 text-primary-500 hover:text-primary-300 gap-x-2 ">
                <div class="text-base font-semibold" href="products">Products</div><svg xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                  class="w-5 translate-all duration-100 ">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <ul></ul>
            </div>
          </li>
          <li>
            <div>
              <div
                class="border-b-[1px] border-gray-200 flex justify-between py-5 text-primary-500 hover:text-primary-300 gap-x-2 ">
                <div class="text-base font-semibold">Knowledge Centre</div><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                  class="w-5 translate-all duration-100 ">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <ul></ul>
            </div>
          </li>
          <li>
            <div>
              <div
                class="border-b-[1px] border-gray-200 flex justify-between py-5 text-primary-500 hover:text-primary-300 gap-x-2 ">
                <div class="text-base font-semibold">About Us</div><svg xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                  class="w-5 translate-all duration-100 ">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <ul></ul>
            </div>
          </li>
          <li>
            <a class="text-undefined font-undefined  border-b-[1px] relative border-border-200 flex justify-start items-center py-5 "
              href="/referandearn">
              <div class="text-base font-semibold text-primary-500">Refer &amp; Earn
              </div>
            </a>
          </li>
          <li>
            <a class="text-undefined font-undefined  border-b-[1px] relative border-border-200 flex justify-start items-center py-5 "
              href="partner.Kubera Scheme.com/">
              <div class="text-base font-semibold text-primary-500" id="gtm-click-partner">Become a Partner
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div
  class="items-center relative justify-between hidden w-full h-full xl:flex max-w-[1440px] mx-auto px-4 md:px-6 xl:px-18">
  <div class="flex items-center justify-start">
    <div>
      <a class="text-undefined font-undefined  undefined " href="/">
        <div class="w-[112px] h-6 ml-0 relative"><span
            style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
              alt="logo" src="/images/logo.png" decoding="async" data-nimg="fill" class="w-full h-full"
              style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
              sizes="100vw"
              srcset="/images/logo.png 640w, /images/logo.png 750w, /images/logo.png 828w, /images/logo.png 1080w, /images/logo.png 1200w, /images/logo.png 1920w, /images/logo.png 2048w, /images/logo.png 3840w"></span>
        </div>
      </a>
    </div>
  </div>
  <div class="flex items-center justify-start h-full gap-6">
    <div class="flex items-center h-full">
      <ul class="flex items-center h-full">
        <li class="px-2 h-full flex items-center false">
          <div class="relative">
            <div
              class=" text-gray-500 hover:text-primary-500 p4-medium cursor-pointer flex flex-grow items-center justify-center">
              <div class="text-base max-w-min xl:max-w-max whitespace-nowrap font-heading">
                Products</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true" class="h-4 w-5 transform-all duration-100 ">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="duration-100 translate-all invisible translate-y-2">
              <div
                class="absolute top-4 left-1/2 translate-x-[-50%] bg-basicWhite p-3 rounded-xl flex flex-col gap-1 border">
                <a class="text-undefined font-undefined  undefined " href="/products/unlisted-corporate-debt">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">
                      Corporate Debt (Unlisted)</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/products/venture-debt">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">
                      Venture Debt</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/products/invoice-discounting">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">
                      Invoice Discounting</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/products/asset-backed-leasing">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">Asset Backed Leasing</div><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="px-2 h-full flex items-center false">
          <div class="relative">
            <div
              class=" text-gray-500 hover:text-primary-500 p4-medium cursor-pointer flex flex-grow items-center justify-center">
              <div class="text-base max-w-min xl:max-w-max whitespace-nowrap font-heading">
                Knowledge Centre</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true" class="h-4 w-5 transform-all duration-100 ">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="duration-100 translate-all invisible translate-y-2">
              <div
                class="absolute top-4 left-1/2 translate-x-[-50%] bg-basicWhite p-3 rounded-xl flex flex-col gap-1 border">
                <a class="text-undefined font-undefined  undefined " href="/credit-evaluation-process">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">Credit Assessment Process</div><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/blogs">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">Blogs
                    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/webinars">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">
                      Webinars</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/faq">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">FAQs
                    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="px-2 h-full flex items-center false">
          <div class="relative">
            <div
              class=" text-gray-500 hover:text-primary-500 p4-medium cursor-pointer flex flex-grow items-center justify-center">
              <div class="text-base max-w-min xl:max-w-max whitespace-nowrap font-heading">
                About Us</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true" class="h-4 w-5 transform-all duration-100 ">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="duration-100 translate-all invisible translate-y-2">
              <div
                class="absolute top-4 left-1/2 translate-x-[-50%] bg-basicWhite p-3 rounded-xl flex flex-col gap-1 border">
                <a class="text-undefined font-undefined  undefined " href="/about-us#">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">Our Company
                    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/about-us#milestones">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">The Journey
                    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/about-us#values">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">Values
                    </div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/about-us#investors">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">
                      Investors</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/careers">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl">
                    <div class="text-base whitespace-nowrap font-heading">
                      Careers</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
                <a class="text-undefined font-undefined  undefined " href="/contact-us">
                  <div
                    class="px-4 py-3 font-semibold hover:bg-gray-50 text-gray-500 hover:text-primary-500 flex items-center justify-between gap-2 cursor-pointer rounded-xl"
                    id="gtm-click-contact-us">
                    <div class="text-base whitespace-nowrap font-heading">
                      Contact Us</div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                      fill="currentColor" aria-hidden="true" class="w-6 h-6 invisible">
                      <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="px-2 h-full flex items-center false">
          <a class="text-undefined font-undefined  undefined " href="/referandearn">
            <div data-ge-menuitem="Refer &amp; Earn"
              class="py-1 text-gray-500 hover:text-primary-500 p4-medium cursor-pointer whitespace-nowrap flex items-center font-heading">
              Refer &amp; Earn</div>
          </a>
        </li>
        <li class="px-2 h-full flex items-center false">
          <a class="text-undefined font-undefined  undefined " href="partner.Kubera Scheme.com/">
            <div data-ge-menuitem="Become a Partner" id="gtm-click-partner"
              class="py-1 text-gray-500 hover:text-primary-500 p4-medium cursor-pointer whitespace-nowrap flex items-center font-heading">
              Become a Partner</div>
          </a>
        </li>
      </ul>
    </div>
    <button  class="flex flex-row justify-center items-center whitespace-nowrap w-min
               cursor-pointer rounded-lg undefined px-4 py-2 gap-x-1 border-1 bg-primary-500
               text-basicWhite border-transparent hover:bg-primary-300
               hover:shadow-md active:bg-primary-600 active:text-basicWhite ">
      <p class="p4-medium" (click)="closeLoginPopup('true')">Login/Sign Up</p>
    </button>
  </div>
</div>
</div>

 