<h3>Function Definition</h3>
<p>Grouping of set of statements as a unit </p>
<p>syntax:-</p>
<pre>{{snippet}}</pre>
<p>Here function is called pre-defined keyword to indicate as a function.</p>
<p>functionName is the name of the function </p>
<p> {{bracket}} is called function block. Block means group of statements between the {{bracket}} </p>
<h3>Note</h3>
<p> Typescript and javascript are almost similar. But in typescript function keyword is not-required.So typescript function syntax is </p>
<pre>{{snippet1}}</pre>

<h3>Arrow function</h3>
<p> A function without function name is called "Arrow function". This function is not used for future purpose. It is used 
         directly where ever required </p>
<b>syntax:-</b>
<pre>{{arrowFunctionSyntax}}</pre>

<h3>Types of functions</h3>
<p>There are 4-types of functions </p>
<ol>
    <li> without parameters , without return value </li>
    <li> with parameters , with return value </li>
    <li> without parameters , with return value </li>
    <li> with parameters , without return value </li>
</ol>
<!-- =====================================Type-1============================================================= -->
<h3>Type-1: without parameters , without return value</h3>
<h4>Defining(writing) function </h4>
<b>syntax:-</b>
<pre>{{type1Syntax}}</pre>
<b>arrow funcion syntax:-</b>
<pre>{{type1SyntaxArrow}}</pre>
<b>Example</b>
<pre>{{type1Example}}</pre>
<b>arrow function example</b>
<pre>{{type1ExampleArrow}}</pre>
<h4>Calling(Executing(or)Accessing) function</h4>
<b>syntax:-</b>
<pre>{{type1CallingSyntax}}</pre>
<b>Example</b>
<pre>{{type1CallingExample}}</pre>
<!-- =====================================Type-2============================================================= -->
<h3>Type-2: with parameters , with return value</h3>
<h4>Defining(writing) function </h4>
<b>syntax:-</b>
<pre>{{type2Syntax}}</pre>
<b>Arrow function syntax:-</b>
<pre>{{type2SyntaxArrow}}</pre>
<b>Example</b>
<pre>{{type2Example}}</pre>
<b>Arrow function Example</b>
<pre>{{type2ExampleArrow}}</pre>
<h4>Calling(Executing(or)Accessing) function</h4>
<b>syntax:-</b>
<pre>{{type2CallingSyntax}}</pre>
<b>Example</b>
<pre>{{type2CallingExample}}</pre>

<!-- =====================================Type-3============================================================= -->
<h3>Type-3: without parameters , with return value</h3>
<h4>Defining(writing) function </h4>
<b>syntax:-</b>
<pre>{{type3Syntax}}</pre>
<b>Arrow funcion syntax</b>
<pre>{{type3SyntaxArrow}}</pre>
<b>Example</b>
<pre>{{type3Example}}</pre>
<b>Arrow function Example</b>
<pre>{{type3ExampleArrow}}</pre>
<h4>Calling(Executing(or)Accessing) function</h4>
<b>syntax:-</b>
<pre>{{type3CallingSyntax}}</pre>
<b>Example</b>
<pre>{{type3CallingExample}}</pre>

<!-- =====================================Type-4============================================================= -->
<h3>Type-4: with parameters , without return value</h3>
<h4>Defining(writing) function </h4>
<b>syntax:-</b>
<pre>{{type4Syntax}}</pre>
<b>Arrow function syntax:-</b>
<pre>{{type4SyntaxArrow}}</pre>
<b>Example</b>
<pre>{{type4Example}}</pre>
<b>Arrow function Example:-</b>
<pre>{{type4ExampleArrow}}</pre>
<h4>Calling(Executing(or)Accessing) function</h4>
<b>syntax:-</b>
<pre>{{type4CallingSyntax}}</pre>
<b>Example</b>
<pre>{{type4CallingExample}}</pre>

