<h3> Calling back-end apis in angular </h3>
<p> Follow the below steps to call apis </p>

<b> Step-1</b>
<p> import http Client module in the module file from http package</p>

<b> Step-2</b>
<p> import http Client in the service file from same http package</p>

<b> Step-3</b>
<p> create object for the http client in the service file constructor </p>

<b> Step-4</b>
<p> create a function to call any api </p>

<b> Step-5 </b>
<p> Call get function, from the object, for GET API method </p>

<p> Call post method, from the object, for POST API method </p>


<p> Call put function, from the object, for PUT API method </p>

<p> Call delete method, from the object, for  DELETE API method </p>

<b> Step-6</b>
<p> Add this service file class name in the module file providers array </p>
