<section id="recipe_main">

    <div class="recipe_inner clearfix">
   
     <div class="container">
   
     <div class="row">
   
      <div class="recipe_main_1">
   
       <h1>RECIPE</h1>
   
      </div>
   
     </div>
   
    </div>
   
    </div>
   
   </section>
   
   <section id="recipe">
   
    <div class="container">
   
     <div class="row">
   
      <div class="recipe_1 clearfix">
   
       <div class="col-sm-8">
   
        <div class="recipe_2 clearfix">
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/63.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Brain Power</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/64.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Rose Syrup</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/65.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Best Spaghetti</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="recipe_2 clearfix">
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/66.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Pickled Summer</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/67.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Rustic Crusty</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/68.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Almond Pastry</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
        </div>
   
        <div class="recipe_2 clearfix">
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/69.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Avocado Toast</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/70.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Easy Instant</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
         <div class="col-sm-4 space_all">
   
          <div class="recipe_3">
   
           <a href="recipe-details.html"><img src="assets/img/71.jpg" alt="abc" class="img_responsive"></a>
   
           <h3>Flat Irons</h3>
   
           <p>maecenas pharetra convallis. Cursus sit amet dictum sit</p>
   
           <a href="recipe-details.html" class="button_1">Read More</a>
   
          </div>
   
         </div>
   
        </div>
   
       </div>
   
       <div class="col-sm-4">
   
        <div class="recipe_4">
   
         <div id="custom-search-input">
   
               <div class="input-group col-md-12">
   
                <input type="text" class="  search-query form-control" placeholder="SEARCH">
   
               <span class="input-group-btn">
   
              <button class="btn btn-danger" type="button">
   
             <span class=" glyphicon glyphicon-search"></span>
   
            </button>
   
           </span>
   
          </div>
   
         </div>
   
         <div class="recipe_5">
   
         <div class="panel panel-primary">
   
                   <div class="panel-heading">
   
                       <h3 class="panel-title"><a href="recipe-details.html">Recent Posts</a></h3>
   
                       <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
   
                   </div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Scuba Diving To Do’s &amp; Don’t</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Luxury Tours in Bahamas</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Amazing Tips for Tour Guides</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">What to Wear on Outdoor Trips?</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Top Tour Destination of 2016</a></div>
   
               </div>
   
        </div>
   
        <div class="recipe_5">
   
         <div class="panel panel-primary">
   
                   <div class="panel-heading">
   
                       <h3 class="panel-title"><a href="recipe-details.html">Blog Tags</a></h3>
   
                       <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
   
                   </div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">
   
                    <ul>
   
                         <li class="well_14">Top</li>
   
                         <li class="well_14">Tour</li>
   
                         <li class="well_14">Trips</li>
   
                         <li class="well_14">Wear</li>
   
                         <li class="well_14">Scuba</li>
   
                    </ul>
   
                   </a>
   
                   </div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">
   
                   <ul>
   
                         <li class="well_14">Top</li>
   
                         <li class="well_14">Tour</li>
   
                         <li class="well_14">Trips</li>
   
                         <li class="well_14">Wear</li>
   
                    </ul>
   
                   </a>
   
                   </div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">
   
                   <ul>
   
                         <li class="well_14">Top</li>
   
                         <li class="well_14">Tour</li>
   
                         <li class="well_14">Trips</li>
   
                    </ul>
   
                   </a>
   
                   </div>
   
               </div>
   
        </div>
   
        <div class="recipe_5">
   
         <div class="panel panel-primary">
   
                   <div class="panel-heading">
   
                       <h3 class="panel-title"><a href="recipe-details.html">Gallery</a></h3>
   
                       <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
   
                   </div>
   
                   <div class="panel-body" style="display: none;">
   
                     <ul>
   
                          <li><a href="recipe-details.html"><img src="assets/img/72.jpg" alt="abc"></a></li>
   
                          <li><a href="recipe-details.html"><img src="assets/img/73.jpg" alt="abc"></a></li>
   
                          <li><a href="recipe-details.html"><img src="assets/img/74.jpg" alt="abc"></a></li>					   
   
                     </ul>
   
                     <ul>
   
                          <li><a href="recipe-details.html"><img src="assets/img/75.jpg" alt="abc"></a></li>
   
                          <li><a href="recipe-details.html"><img src="assets/img/76.jpg" alt="abc"></a></li>
   
                          <li><a href="recipe-details.html"><img src="assets/img/77.jpg" alt="abc"></a></li>
   
                     </ul>
   
                   </div>
   
              
   
               </div>
   
        </div>
   
        <div class="recipe_5">
   
         <div class="panel panel-primary">
   
                   <div class="panel-heading">
   
                       <h3 class="panel-title"><a href="recipe-details.html">Categories</a></h3>
   
                       <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
   
                   </div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Budget Tours (3)</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Expert Insight (4)</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Independent (2)</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Luxury Tours (2)</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Safety Tips (5)</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Tips n Tricks (1)</a></div>
   
                   <div class="panel-body" style="display: none;"><a href="recipe-details.html">Uncategorized (7)</a></div>
   
               </div>
   
        </div>
   
        <div class="recipe_6">
   
         <a href="recipe-details.html"><img src="assets/img/78.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        <div class="recipe_6">
   
         <a href="recipe-details.html"><img src="assets/img/79.jpg" alt="abc" class="img_responsive"></a>
   
        </div>
   
        </div>
   
       </div>
   
      </div>
   
     </div>
   
    </div>
   
   </section>
