<div class="row">
    <div class="w-50">
        <b>What is data sharing </b>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
    </div>
    <div class="w-50">
        <b>What is data sharing </b>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
        <p>One component to another component data transfer is called data sharing</p>
    </div>
</div>
