<div class="flex-layout">
    <div>
        <a routerLink="">variables</a>
    </div>
    <div>
        <a routerLink="array-variable" routerLinkActive="color-1"> array variable</a>
    </div>
    <div>
        <a routerLink="object-variable" routerLinkActive="color-1">object variable</a>
    </div>
    <div>
        <a routerLink="my-function" routerLinkActive="color-1">My-function</a>
    </div>
    <div>
        <a routerLink="life-cycle-hooks" routerLinkActive="color-1">Angular Life Cycle Hooks</a>
    </div>
</div>
