
<div  class="flex-layout">
    <div>
        <a routerLink="">Variables</a>
    </div>  
    <div>
        <a routerLink="array-variable" routerLinkActive="color-1">Array Variables</a>
    </div> 
    <div>
        <a routerLink="object-variable" routerLinkActive="color-1">Object Variable</a>
    </div>  
    <div>
        <a routerLink="my-functions" routerLinkActive="color-1">My Functions</a>
    </div> 
    <div>
        <a routerLink="my-class" routerLinkActive="color-1">My Class</a>
    </div>
    <div>
        <a routerLink="my-pre-defined" routerLinkActive="color-1">My Pre-defined Things</a>
    </div>
    <div>
        <a routerLink="life-cycle-hooks" routerLinkActive="color-1"> Angular Life Cycle Hooks</a>
    </div>
    <div>
        <a routerLink="property-and-event-bindings" routerLinkActive="color-1">Property and event bindings</a>
    </div>
</div>
