<div class="row">
    <div>
        <a routerLink="">variables</a>
    </div>
    <div>
        <a routerLink="array-variables" routerLinkActive="color-1">Array Variables</a>
    </div>
    <div>
        <a routerLink="object-variable" routerLinkActive="color-1">Object Variable</a>
    </div>
    <div>
        <a routerLink="my-pre-defined-things" routerLinkActive="color-1">My Pre Pefined Things</a>
    </div>
    <div>
        <a routerLink="angular-life-cycle-hooks" routerLinkActive="color-1">Angular Life Cycle Hooks</a>
    </div>
    <div>
        <a routerLink="property-and-event-binding" routerLinkActive="color-1">Property And Event Binding</a>
    </div>
    <div>
        <a routerLink="data-sharing" routerLinkActive="color-1">Data Sharing</a>
    </div>
</div>
