<div class="container-fluid">
    <div class="row">
        
        <div class="col-12">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex">
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link me-2" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>    
                        </ul>
                    </div>
                </div>
                </div>
          </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-2">

            <div class="list-group">
                <a href="index.html" class="list-group-item list-group-item-action"> Restaurant</a>
                <a href="level1.html" class="list-group-item list-group-item-action  "> Level-1 categories</a>
                <a href="level2.html" class="list-group-item list-group-item-action active"> Level-2 categories</a>
                <a href="food.html" class="list-group-item list-group-item-action"> Food items</a>
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Level-2 categories 
                    </h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered   table-hover">
                            <thead class="table-info">
                              <tr>
                                <th>SNo</th>
                                <th> Name</th>
                                
                                <th> Status</th>
                                <th> Delete</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>veg</td>
                                 
                                <td> Open</td>
                                <td> <i class="fa fa-trash-o"></i></td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Non-veg</td>
                                   
                                  <td> Open</td>
                                  <td> <i class="fa fa-trash-o"></i></td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>soups</td>
                                   
                                  <td> Closed</td>
                                  <td> <i class="fa fa-trash-o"></i></td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>sweets</td>
                                   
                                  <td> Open</td>
                                  <td> <i class="fa fa-trash-o"></i></td>
                                </tr>
                            </tbody>
                          </table>
                      </div>
                </div>
            </div>
        </div>
    </div> 
</div>   