<div class="row">
    <div class="col-1">
        <h3>2-types of data Sharing</h3>
            <ol type="1">
                <li><a routerLink="type-one" routerLinkActive="color-1">with parent-child components</a></li>
                <li><a routerLink="type-two" routerLinkActive="color-1">With different components</a></li>
                <li><a routerLink="type-three" routerLinkActive="color-1">With query string in url</a></li>
                <li><a routerLink="type-four" routerLinkActive="color-1">With routing configuration</a></li>
            </ol>
    </div>
    <div class="col-2">        
        <router-outlet></router-outlet>
    </div>
</div>



            
          
