<div class="row">
    <div class="w-20">
        <p>data-sharing works data-sharing worksdata-sharing works data-sharing works data-sharing works data-sharing works</p>
        <ol type="1">
            <li><a routerLink="type-one">Type-1</a></li>
            <li><a routerLink="type-two">Type-2</a></li>
            <li><a routerLink="type-three">Type-3</a></li>
            <li><a routerLink="type-four">Type-4</a></li>
        </ol>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>