<h3>2-types of data Sharing</h3>
<ol type="1">
    <li>with parent-child components</li>
    <li>With different components</li>
</ol>

<h3>1.with parent-child components</h3>
        <p>There are 2-types of data Sharing</p>
        <ol type="i">
            <li>From parent to child</li>
            <li>From child to parent</li>
        </ol>

        <h3>i.From parent to child</h3>
            <b>Identified by:     parent.component.html</b>
            <p>{{code1}}</p>
            <b> In parent.component.ts-file</b>
            <p> userName="raghu"; </p>

            <b> In child.component.ts-file</b>
            <p> employeeName="akbar"; </p>
            <p> indicate using @Input() before the variable </p>
            <b>  @Input() employeeName="akbar"; </b><br>
            <b> Send data parent to child </b><br>
            <b> syntax</b>
            <p>{{code2}}</p>
            <b> Example</b>
            <p>{{code3}}</p>


        <h3>ii.From child to parent</h3>
            <b>Identified by:     parent.component.html</b>
            <p>{{code1}}</p>
            <b> In parent.component.ts-file</b>
            <p> userName="raghu"; </p>
            <pre>{{code4}}</pre>
            <b> In child.component.ts-file</b>
            <p> employeeName="akbar"; </p>
            <b> @output() myEvent : EventEmiter= new EventEmiter(); </b>
            <p> To perform above event </p>
            <p> myEvent.emit(variable (or) data )</p>
            <b> Send data child to parent </b><br>
            <b>Syntax:-</b>
            <p>{{code5}}</p>
            <b> Example</b>
            <p>{{code6}}</p>
            
          
