.align-text
{
    text-align: center;
}
.bg-color-1
{
    background-color: #000 !important;
}
// .mat-form-field
// {
//     background-color: #000;
//     color: #db2020;
// }
.mx-1
{   
    margin-left: 1rem;
    margin-right: 1rem;
}
.my-1
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mt-1
{
    margin-top: 1rem;
}
.mb-1
{
    margin-top: 2rem;
}