/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto,"Helvetica Neue", sans-serif; 
    background-color:#e7d9d9;;
    }
.mt-1
{
    margin-top: 1rem;
}
.mt-2
{
    margin-top: 2rem;
}
.mt-3
{
    margin-top: 3rem;
}
.mt-4
{
    margin-top: 4rem;
}
.mt-5
{
    margin-top: 5rem;
}
.mb-1
{
    margin-bottom: 1rem;
}
// .card
// {
//     background-color: #fff !important;
// }

mat-form-field{

    // .mat-mdc-text-field-wrapper 
    // { 
    //     border-bottom: 1px solid #000;
    // }
    // .mat-mdc-form-field-flex 
    // {
    //    padding: 1px solid #000;  
    // }
    // .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    //     color:#000 !important;
    // }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #fff !important;
    }
    // .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    //     color:#000 !important;
    // }
    //text-color
    //================
    // ::placeholder {
    //     color: deeppink;
    //   }

}
// .mdc-button .mdc-button__label {
    
//     color: #615d5d;
// }
mat-icon
{
    color: #3a65fb !important;
}
mat-hint
{    
    font-style: italic;
    font-weight: 500;
    color: blue;
} 
.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
    color: red;
}
