<p>{{nickName}}</p>
<p>{{jokeName}}</p>
<div class="row">
    <div>
        <a routerLink="practice" routerLinkActive="color">Practice</a>
    </div>
    <div>
        <a routerLink="variables" routerLinkActive="color">Variables</a>
    </div>
    <div>
        <a routerLink="array-variable" routerLinkActive="color">Array Variable</a>
    </div>
    <div>
        <a routerLink="object-variable" routerLinkActive="color">Object Variable</a>
    </div>
    <div>
        <a routerLink="life-cycle-hooks" routerLinkActive="color">Life Cycle Hooks</a>
    </div>
    <div>
        <a routerLink="data-sharing" routerLinkActive="color">Data Sharing</a>
    </div>
    
</div>
