<h3> What is property</h3>
<p> The variables in ts file are called "properties"</p>
<p> The attributes in html file are called "properties"</p>

<h3> What is Event</h3>
<p> Any action performing on the html is called "Event". Some html events are click, blur, focus, dbclick, ...... </p>
<p> Every event is a function in ts file. </p>
<b> syntax:-</b>
<pre> {{code3}}<pre>

<h3>What is Binding</h3>
<p>  Providing connection between html and ts file , for variables and functions .</p>

<h3> What is property binding</h3>
<p>  Providing connection for variables is called "property binding".</p>
<b> Syntax:-</b>
<pre>{{code1}}</pre>
<b>Example:-</b>
<b>In Html file</b>
<pre>{{code}}</pre>

<b> In Ts-file</b>
<p> myName="hello";</p>
<b> Now to bind Value attribute With myName variable we write like this</b>
<pre>{{code2}}</pre>

<h3> What is Event binding</h3>
<p>  Providing connection for functions is called "Event binding".</p>
<b> syntax:-</b>
<pre> {{code3}}<pre>
<b>Example:-</b>
<b>In Html file</b>
<pre>{{code4}}</pre>
<b> In Ts-file</b>
<pre>{{code5}}</pre>

<b>Now to bind click event with userName() we write like this</b>
<pre>{{code6}}</pre>








