<section id="center" class="center_shop"> 
    <div class="container">
     <div class="row">
      <div class="center_shop_1 text-center clearfix">
       <div class="col-sm-12">
         <h1 class="mgt">Blog Page</h1>
         <h5><a href="#">Home</a> / <span class="col_1">Blog Page</span></h5>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="blog_home">
    <div class="container">
     <div class="row">
      <div class="blog_home_1 mgt clearfix">
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="blog_details.html"><img src="assets/img/28.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="blog_details.html">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/31.jpg" alt="abc"> <a href="blog_details.html">Dapibus Diam</a> | 04-03-2020</h6>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="blog_details.html"><img src="assets/img/29.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="blog_details.html">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/32.jpg" alt="abc"> <a href="blog_details.html">Sit Amet</a> | 04-03-2020</h6>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="blog_details.html"><img src="assets/img/30.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="blog_details.html">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/33.jpg" alt="abc"> <a href="blog_details.html">Sed Cursus</a> | 04-03-2020</h6>
        </div>
       </div>
      </div>
      <div class="blog_home_1 clearfix">
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="blog_details.html"><img src="assets/img/38.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="blog_details.html">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/31.jpg" alt="abc"> <a href="blog_details.html">Dapibus Diam</a> | 04-03-2020</h6>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="blog_details.html"><img src="assets/img/39.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="blog_details.html">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/32.jpg" alt="abc"> <a href="blog_details.html">Sit Amet</a> | 04-03-2020</h6>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="blog_details.html"><img src="assets/img/40.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="blog_details.html">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/33.jpg" alt="abc"> <a href="blog_details.html">Sed Cursus</a> | 04-03-2020</h6>
        </div>
       </div>
      </div>
      <div class="center_product_1r4r text-center clearfix">
            <ul class="pagination mgt">
                 <li class="disabled"><a href="blog_details.html">«</a></li>
                 <li class="active"><a href="blog_details.html">1 <span class="sr-only">(current)</span></a></li>
                 <li><a href="blog_details.html">2</a></li>
                 <li><a href="blog_details.html">3</a></li>
                 <li><a href="blog_details.html">4</a></li>
                 <li><a href="blog_details.html">5</a></li>
                 <li><a href="blog_details.html">»</a></li>
               </ul>
          </div>
     </div>
    </div>
   </section>
   
   <section id="connect" class="clearfix">
    <div class="container">
     <div class="row">
      <div class="col-sm-12 space_all">
       <div class="connect_1 clearfix">
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-truck"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Free Shipping</h4>
          <p>Free shipping world wide</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-headphones"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Support 24/7</h4>
          <p>Contact us 24 hours a day</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-credit-card"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Secure Payments</h4>
          <p>100% payment protection</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m border_none">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-shopping-cart"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Easy Return</h4>
          <p>Simple returns policy</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
