<section id="center" class="center_home"> 
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
         <!-- Overlay -->
         <div class="overlay"></div>
       
         <!-- Indicators -->
         <ol class="carousel-indicators">
           <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
           <li data-target="#bs-carousel" data-slide-to="1" class=""></li>
           <li data-target="#bs-carousel" data-slide-to="2" class=""></li>
         </ol>
         
         <!-- Wrapper for slides -->
         <div class="carousel-inner">
           <div class="item slides active">
             <div class="slide-1"></div>
             <div class="hero clearfix">
               <div class="col-sm-6">
                   <h5 class="mgt col_1">New Arrivals</h5>
                   <h1>Nulla Quis Libero <br>   <span>Sem</span></h1>
                   <p>Nulla quis sem at nibh elementum imperdiet Fusce nec tellus sed augue  semper porta Vestibulum lacinia arcu eget nulla!</p>
                   <h4><a class="button" href="#"><i class="fa fa-shopping-cart"></i> Shop Now</a></h4>
                   <h4 class="col_1normal">$66.00</h4>
               </div>
               <div class="col-sm-6">
               <img src="assets/img/1.jpg" class="iw" alt="abc">
               </div>
             </div>
           </div>
           <div class="item slides">
             <div class="slide-2"></div>
             <div class="hero clearfix">
               <div class="col-sm-6">
                   <h5 class="mgt col_1">New Arrivals</h5>
                   <h1>Dolore Magna Cursus <br>  <span>Aliquyam</span></h1>
                   <p>Nulla quis sem at nibh elementum imperdiet Fusce nec tellus sed augue  semper porta Vestibulum lacinia arcu eget nulla!</p>
                   <h4><a class="button" href="#"><i class="fa fa-shopping-cart"></i> Shop Now</a></h4>
                   <h4 class="col_1 normal">$69.00</h4>
               </div>
               <div class="col-sm-6">
               <img src="assets/img/2.jpg" class="iw" alt="abc">
               </div>
             </div>
           </div>
           <div class="item slides">
             <div class="slide-3"></div>
             <div class="hero clearfix">
               <div class="hero clearfix">
               <div class="col-sm-6">
                   <h5 class="mgt col_1">New Arrivals</h5>
                   <h1>Fusce Nec Dapibus  <br>  <span>Tellus</span> </h1>
                   <p>Nulla quis sem at nibh elementum imperdiet Fusce nec tellus sed augue  semper porta Vestibulum lacinia arcu eget nulla!</p>
                   <h4><a class="button" href="#"><i class="fa fa-shopping-cart"></i> Shop Now</a></h4>
                   <h4 class="col_1 normal">$49.00</h4>
               </div>
               <div class="col-sm-6">
               <img src="assets/img/3.jpg" class="iw" alt="abc">
               </div>
             </div>
           </div>
         </div> 
        </div>
  
   
   <section id="collection">
    <div class="container">
     <div class="row">
      <div class="collect_1 clearfix">
       <div class="col-sm-6">
        <div class="collect_1l clearfix">
         <div class="col-sm-6 space_left">
          <div class="collect_1ll clearfix">
           <h5 class="mgt">Temperature</h5>
           <h4>Ear Thermometers</h4>
           <h5><a class="button" href="#"><i class="fa fa-shopping-cart"></i> Shop Now</a></h5>
           <h5 class="col_1 normal">$49.00</h5>
          </div>
         </div>
         <div class="col-sm-6 space_left">
          <div class="collect_1lr clearfix">
           <img src="assets/img/4.jpg" alt="abc" class="iw">
          </div>
         </div>
        </div>
       </div>
       <div class="col-sm-6">
        <div class="collect_1l collect_1lo clearfix">
         <div class="col-sm-6 space_left">
          <div class="collect_1ll clearfix">
           <h5 class="mgt">Personal</h5>
           <h4>Favorite Collection</h4>
           <h5><a class="button" href="#"><i class="fa fa-shopping-cart"></i> Shop Now</a></h5>
           <h5 class="col_1 normal">$59.00</h5>
          </div>
         </div>
         <div class="col-sm-6 space_left">
          <div class="collect_1lr clearfix">
           <img src="assets/img/5.jpg" alt="abc" class="iw">
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="categories">
    <div class="container">
     <div class="row">
      <div class="categories_1 clearfix">
       <div class="col-sm-12">
        <h2 class="mgt">Categories</h2>
       </div>
      </div>
      <div class="categories_2 clearfix">
       <div class="col-sm-2">
        <div class="categories_2i text-center clearfix">
         <a href="#"><img src="assets/img/6.jpg" class="iw" alt="abc"></a>
         <h5><a href="#">Lorem Ipsum</a></h5>
        </div>
       </div>
       <div class="col-sm-2">
        <div class="categories_2i text-center clearfix">
         <a href="#"><img src="assets/img/7.jpg" class="iw" alt="abc"></a>
         <h5><a href="#">Sed Augue</a></h5>
        </div>
       </div>
       <div class="col-sm-2">
        <div class="categories_2i text-center clearfix">
         <a href="#"><img src="assets/img/8.jpg" class="iw" alt="abc"></a>
         <h5><a href="#">Nulla Quis</a></h5>
        </div>
       </div>
       <div class="col-sm-2">
        <div class="categories_2i text-center clearfix">
         <a href="#"><img src="assets/img/9.jpg" class="iw" alt="abc"></a>
         <h5><a href="#">Ante Dapibus</a></h5>
        </div>
       </div>
       <div class="col-sm-2">
        <div class="categories_2i text-center clearfix">
         <a href="#"><img src="assets/img/10.jpg" class="iw" alt="abc"></a>
         <h5><a href="#">Sed Cursus</a></h5>
        </div>
       </div>
       <div class="col-sm-2">
        <div class="categories_2i text-center clearfix">
         <a href="#"><img src="assets/img/11.jpg" class="iw" alt="abc"></a>
         <h5><a href="#">Integer Nec</a></h5>
        </div>
       </div>
      </div>
     </div> 
    </div>
   </section>
   
   <section id="sell">
    <div class="container">
     <div class="row">
      <div class="sell_1 clearfix">
               <div class="col-sm-9 space_left">
                  <h2 class="mgt">Best Selling</h2>
               </div>
               <div class="col-sm-3 space_left">
                   <!-- Controls -->
                   <div class="controls pull-right hidden-xs">
                       <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                   </div>
               </div>
           </div>
      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                   <div class="item active">
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/12.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">PRODUCT</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$45.00</span>
                                  <span class="span_3 col_1"> $34.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/13.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">OTHER</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$55.00</span>
                                  <span class="span_3 col_1"> $44.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/14.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">POPULAR</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$65.00</span>
                                  <span class="span_3 col_1"> $54.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/15.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">TRENDING</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$75.00</span>
                                  <span class="span_3 col_1"> $66.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                   </div>
                   <div class="item">
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/16.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">PRODUCT</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$45.00</span>
                                  <span class="span_3 col_1"> $34.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/17.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">OTHER</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$55.00</span>
                                  <span class="span_3 col_1"> $44.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/18.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">POPULAR</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$65.00</span>
                                  <span class="span_3 col_1"> $54.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                           <div class="col-sm-3 space_left">
                               <div class="arriv_2m clearfix">
                                 <div class="arriv_2m1 clearfix">
                                   <a href="#"><img src="assets/img/19.jpg" alt="abc" class="iw"></a>
                                 </div>
                                 <div class="arriv_2m2 clearfix">
                                  <h5 class="text-center mgt">New</h5>
                                 </div>
                                 <div class="arriv_2m2n clearfix">
                                  <h5 class="text-center mgt">Sale</h5>
                                 </div>
                                 <div class="arriv_2m3 clearfix">
                                  <h4 class="bold mgt">TRENDING</h4>
                                  <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                                  <span class="span_1">
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                   <i class="fa fa-star"></i>
                                  </span>
                                  <h3 class="normal">
                                  <span class="span_2">$75.00</span>
                                  <span class="span_3 col_1"> $66.00</span> 
                                  </h3>
                                 </div>
                               </div>
                           </div>
                   </div>
               </div>
           </div>
     </div> 
    </div>
   </section>
   
   <section id="collection_o">
    <div class="container">
     <div class="row">
      <div class="collect_1 clearfix">
       <div class="col-sm-4 space_left">
        <div class="collect_1l clearfix">
         <div class="col-sm-6 space_left">
          <div class="collect_1lr clearfix">
           <img src="assets/img/20.jpg" alt="abc" class="iw">
          </div>
         </div>
         <div class="col-sm-6 space_left">
          <div class="collect_1ll clearfix">
           <h5 class="mgt">Special Deal</h5>
           <h4 class="bg_1">Mega Sale</h4>
           <h4><span>up to</span> 70% OFF</h4>
           <h5><a class="" href="#"> Shop Now <i class="fa fa-chevron-right"></i></a></h5>
          </div>
         </div>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="collect_1l collect_1lo clearfix">
         <div class="col-sm-6 space_left">
          <div class="collect_1lr clearfix">
           <img src="assets/img/21.jpg" alt="abc" class="iw">
          </div>
         </div>
         <div class="col-sm-6 space_left">
          <div class="collect_1ll clearfix">
           <h5 class="mgt">Special Deal</h5>
           <h4 class="bg_2">Mega Sale</h4>
           <h4><span>up to</span> 70% OFF</h4>
           <h5><a class="" href="#"> Shop Now <i class="fa fa-chevron-right"></i></a></h5>
          </div>
         </div>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="collect_1l clearfix">
         <div class="col-sm-6 space_left">
          <div class="collect_1lr clearfix">
           <img src="assets/img/22.jpg" alt="abc" class="iw">
          </div>
         </div>
         <div class="col-sm-6 space_left">
          <div class="collect_1ll clearfix">
           <h5 class="mgt">Special Deal</h5>
           <h4 class="bg_3">Mega Sale</h4>
           <h4><span>up to</span> 70% OFF</h4>
           <h5><a class="" href="#"> Shop Now <i class="fa fa-chevron-right"></i></a></h5>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="arrive">
    <div class="container">
     <div class="row">
      <div class="categories_1 clearfix">
       <div class="col-sm-12 space_left">
        <h2 class="mgt">New Arrivals</h2>
       </div>
      </div>
      <div class="arrive_1 clearfix">
                   <div class="col-sm-3 space_left">
                   <div class="arriv_2m clearfix">
                     <div class="arriv_2m1 clearfix">
                       <a href="#"><img src="assets/img/23.jpg" alt="abc" class="iw"></a>
                     </div>
                     <div class="arriv_2m2 clearfix">
                      <h5 class="text-center mgt">New</h5>
                     </div>
                     <div class="arriv_2m2n clearfix">
                      <h5 class="text-center mgt">Sale</h5>
                     </div>
                     <div class="arriv_2m3 clearfix">
                      <h4 class="bold mgt">PRODUCT</h4>
                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                      <span class="span_1">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                      </span>
                      <h3 class="normal">
                      <span class="span_2">$45.00</span>
                      <span class="span_3 col_1"> $34.00</span> 
                      </h3>
                     </div>
                   </div>
                   </div>
                   <div class="col-sm-3 space_left">
                   <div class="arriv_2m clearfix">
                     <div class="arriv_2m1 clearfix">
                       <a href="#"><img src="assets/img/24.jpg" alt="abc" class="iw"></a>
                     </div>
                     <div class="arriv_2m2 clearfix">
                      <h5 class="text-center mgt">New</h5>
                     </div>
                     <div class="arriv_2m2n clearfix">
                      <h5 class="text-center mgt">Sale</h5>
                     </div>
                     <div class="arriv_2m3 clearfix">
                      <h4 class="bold mgt">OTHER</h4>
                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                      <span class="span_1">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                      </span>
                      <h3 class="normal">
                      <span class="span_2">$55.00</span>
                      <span class="span_3 col_1"> $44.00</span> 
                      </h3>
                     </div>
                   </div>
                   </div>
                   <div class="col-sm-3 space_left">
                   <div class="arriv_2m clearfix">
                     <div class="arriv_2m1 clearfix">
                       <a href="#"><img src="assets/img/25.jpg" alt="abc" class="iw"></a>
                     </div>
                     <div class="arriv_2m2 clearfix">
                      <h5 class="text-center mgt">New</h5>
                     </div>
                     <div class="arriv_2m2n clearfix">
                      <h5 class="text-center mgt">Sale</h5>
                     </div>
                     <div class="arriv_2m3 clearfix">
                      <h4 class="bold mgt">POPULAR</h4>
                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                      <span class="span_1">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                      </span>
                      <h3 class="normal">
                      <span class="span_2">$65.00</span>
                      <span class="span_3 col_1"> $54.00</span> 
                      </h3>
                     </div>
                   </div>
                   </div>
                   <div class="col-sm-3 space_left">
                   <div class="arriv_2m clearfix">
                     <div class="arriv_2m1 clearfix">
                       <a href="#"><img src="assets/img/26.jpg" alt="abc" class="iw"></a>
                     </div>
                     <div class="arriv_2m2 clearfix">
                      <h5 class="text-center mgt">New</h5>
                     </div>
                     <div class="arriv_2m2n clearfix">
                      <h5 class="text-center mgt">Sale</h5>
                     </div>
                     <div class="arriv_2m3 clearfix">
                      <h4 class="bold mgt">TRENDING</h4>
                      <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
                      <span class="span_1">
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                       <i class="fa fa-star"></i>
                      </span>
                      <h3 class="normal">
                      <span class="span_2">$75.00</span>
                      <span class="span_3 col_1"> $66.00</span> 
                      </h3>
                     </div>
                   </div>
                   </div>
      </div>
      <div class="arrive_1">
       <div class="col-sm-3 space_left">
       <div class="arriv_2m clearfix">
       <div class="arriv_2m1 clearfix">
       <a href="#"><img src="assets/img/16.jpg" alt="abc" class="iw"></a>
       </div>
       <div class="arriv_2m2 clearfix">
       <h5 class="text-center mgt">New</h5>
       </div>
       <div class="arriv_2m2n clearfix">
       <h5 class="text-center mgt">Sale</h5>
       </div>
       <div class="arriv_2m3 clearfix">
       <h4 class="bold mgt">PRODUCT</h4>
       <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
       <span class="span_1">
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       </span>
       <h3 class="normal">
       <span class="span_2">$45.00</span>
       <span class="span_3 col_1"> $34.00</span> 
       </h3>
       </div>
       </div>
       </div>
       <div class="col-sm-3 space_left">
       <div class="arriv_2m clearfix">
       <div class="arriv_2m1 clearfix">
       <a href="#"><img src="assets/img/17.jpg" alt="abc" class="iw"></a>
       </div>
       <div class="arriv_2m2 clearfix">
       <h5 class="text-center mgt">New</h5>
       </div>
       <div class="arriv_2m2n clearfix">
       <h5 class="text-center mgt">Sale</h5>
       </div>
       <div class="arriv_2m3 clearfix">
       <h4 class="bold mgt">OTHER</h4>
       <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
       <span class="span_1">
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       </span>
       <h3 class="normal">
       <span class="span_2">$55.00</span>
       <span class="span_3 col_1"> $44.00</span> 
       </h3>
       </div>
       </div>
       </div>
       <div class="col-sm-3 space_left">
       <div class="arriv_2m clearfix">
       <div class="arriv_2m1 clearfix">
       <a href="#"><img src="assets/img/18.jpg" alt="abc" class="iw"></a>
       </div>
       <div class="arriv_2m2 clearfix">
       <h5 class="text-center mgt">New</h5>
       </div>
       <div class="arriv_2m2n clearfix">
       <h5 class="text-center mgt">Sale</h5>
       </div>
       <div class="arriv_2m3 clearfix">
       <h4 class="bold mgt">POPULAR</h4>
       <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
       <span class="span_1">
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       </span>
       <h3 class="normal">
       <span class="span_2">$65.00</span>
       <span class="span_3 col_1"> $54.00</span> 
       </h3>
       </div>
       </div>
       </div>
       <div class="col-sm-3 space_left">
       <div class="arriv_2m clearfix">
       <div class="arriv_2m1 clearfix">
       <a href="#"><img src="assets/img/19.jpg" alt="abc" class="iw"></a>
       </div>
       <div class="arriv_2m2 clearfix">
       <h5 class="text-center mgt">New</h5>
       </div>
       <div class="arriv_2m2n clearfix">
       <h5 class="text-center mgt">Sale</h5>
       </div>
       <div class="arriv_2m3 clearfix">
       <h4 class="bold mgt">TRENDING</h4>
       <p><a href="#">Naminos elementum disus tincidunts cosmo de cosmopolis</a></p>
       <span class="span_1">
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       </span>
       <h3 class="normal">
       <span class="span_2">$75.00</span>
       <span class="span_3 col_1"> $66.00</span> 
       </h3>
       </div>
       </div>
       </div>
      </div>
     </div> 
    </div>
   </section>
   
   <section id="offer">
    <div class="offer_m clearfix">
      <div class="container">
       <div class="row">
        <div class="col-sm-6">
         <div class="offer_r clearfix"></div>
        </div>
        <div class="col-sm-6">
         <div class="offer_l text-center clearfix">
          <h5 class="col_1 mgt">Deal of the Month</h5>
          <h1>Up to <span class="col_1">80%</span> OFF. All Sales Are Final!</h1>
          <ul>
           <li>553 <br><span>Days</span></li>
           <li>24 <br><span>Hours</span></li>
           <li>40 <br><span>Minutes</span></li>
           <li>15 <br><span>Seconds</span></li>
          </ul>
          <h5><a class="button" href="#"><i class="fa fa-shopping-cart"></i> Shop Now</a></h5>
         </div>
        </div>
       </div>
      </div>
    </div>
   </section>
   
   <section id="blog_home">
    <div class="container">
     <div class="row">
      <div class="categories_1 clearfix">
       <div class="col-sm-12 space_left">
        <h2 class="mgt">Our Blog</h2>
       </div>
      </div>
      <div class="blog_home_1 clearfix">
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="#"><img src="assets/img/28.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="#">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/31.jpg" alt="abc"> <a href="#">Dapibus Diam</a> | 04-03-2020</h6>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="#"><img src="assets/img/29.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="#">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/32.jpg" alt="abc"> <a href="#">Sit Amet</a> | 04-03-2020</h6>
        </div>
       </div>
       <div class="col-sm-4 space_left">
        <div class="blog_home_1i clearfix">
         <a href="#"><img src="assets/img/30.jpg" class="iw" alt="abc"></a>
         <p class="bold"><a href="#">A researcher is conducting research on coronavirus in the lab</a></p>
         <h6><img class="img-circle" src="assets/img/33.jpg" alt="abc"> <a href="#">Sed Cursus</a> | 04-03-2020</h6>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   
   <section id="connect" class="clearfix">
    <div class="container">
     <div class="row">
      <div class="col-sm-12 space_all">
       <div class="connect_1 clearfix">
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-truck"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Free Shipping</h4>
          <p>Free shipping world wide</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-headphones"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Support 24/7</h4>
          <p>Contact us 24 hours a day</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-credit-card"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Secure Payments</h4>
          <p>100% payment protection</p>
         </div>
        </div>
        <div class="col-sm-3 connect_1m border_none">
         <div class="connect_1l clearfix">
           <span><i class="fa fa-shopping-cart"></i></span>
         </div>
         <div class="connect_1r clearfix">
          <h4>Easy Return</h4>
          <p>Simple returns policy</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   
